[2017-08-29 17:47] #2579 closed

[2017-08-29 17:51] #1126 closed

[2017-08-29 18:01] mcovarr commented on #2174
@katevoss pretty sure this one can be closed

[2017-08-29 18:06] mcovarr commented on #2044
sha256 is [now supported in ECS](https://github.com/aws/amazon-ecs-agent/issues/104)

[2017-08-29 18:06] #2044 closed

[2017-08-29 18:11] chapmanb commented on #2283
Patrick -- thanks for looking at this. I'd like to use Objects to group together related items so we can pass them as a single sample to processes. This enables things like batch or tumor/normal calling where you have multiple samples together and want to bundle each of items with each other. I've got a mock up of how I'd use it in a real somatic workflow here:

https://github.com/bcbio/test_bcbio

[2017-08-29 18:12] katevoss commented on #1605
If I understand this correctly, the user wants a way to automatically include an intervals file for certain tasks, right? @knoblett do you have any more details about specific tasks or situations when the user would want this?
@kcibul is it genomic intervals, say for joint calling, or is it programmatic intervals to help with scatter/gather?

[2017-08-29 18:12] #2346 closed

[2017-08-29 18:14] katevoss commented on #1629
@abaumann does the [call caching diff endpoint](https://github.com/broadinstitute/cromwell/blob/develop/README.md#get-apiworkflowsversioncallcachingdiff) help with this situation? If not, can you explain further what you're looking for?

[2017-08-29 18:23] katevoss commented on #1642
@ktibbett I finally have time to follow up on this, can you explain more about why you want the WDL pipeline to copy workflow outputs into two locations?
How often do you face this problem? Is it a weekly/daily/monthly thing?

[2017-08-29 18:34] katevoss commented on #2174
Closing!

[2017-08-29 18:34] #2174 closed

[2017-08-29 18:45] katevoss commented on #901
I'm going to close this and related issues to better track them in a [spec document about Cromwell overhead](https://docs.google.com/document/d/1ngVyj0NexxHws5DBjx-1eE5VwQT3kedrmQ878MKqru8/edit#).

[2017-08-29 18:45] #901 closed

[2017-08-29 18:46] katevoss commented on #1488
I'm going to close this and related issues to better track them in a [spec document about Cromwell overhead](https://docs.google.com/document/d/1ngVyj0NexxHws5DBjx-1eE5VwQT3kedrmQ878MKqru8/edit#).

[2017-08-29 18:46] #1488 closed

[2017-08-29 18:47] katevoss commented on #1494
I'm going to close this and related issues to better track them in a [spec document about Cromwell overhead](https://docs.google.com/document/d/1ngVyj0NexxHws5DBjx-1eE5VwQT3kedrmQ878MKqru8/edit#).

[2017-08-29 18:52] #1494 closed

[2017-08-29 18:52] katevoss commented on #1484
I'm going to close this and related issues to better track them in a [spec document about Cromwell overhead](https://docs.google.com/document/d/1ngVyj0NexxHws5DBjx-1eE5VwQT3kedrmQ878MKqru8/edit#).

[2017-08-29 18:52] #1484 closed

[2017-08-29 18:55] katevoss commented on #1670
What's the functionality that's missing?

[2017-08-29 18:58] geoffjentry commented on #1670
There's currently no mechanism to tell cromwell to not use an old workflow for call caching purposes. It's possible that I realize that something about it was bad or maybe I just don't want to use it in the future.

I have no idea why I cared 9 months ago but I invoked Jean-Luc so it must have been good.

[2017-08-29 19:02] geoffjentry commented on #1670
I suspect what happened was someone was asking me to do it for them and the only way was to do it via the DB.

[2017-08-29 19:30] geoffjentry commented on #1641
@katevoss As long as we're happy providing users a bi-directional loaded gun, it's easy to do. The only difficulty here is coming up with a scheme that prevents people from overwriting their files, but KT doesn't care about that here.

[2017-08-29 19:55] katevoss commented on #1991
From #1449, make sure "custom retries can increase `memory`, `disk`, AND
`bootDiskInGb`".

[2017-08-29 19:56] #1449 closed

[2017-08-29 19:57] katevoss commented on #1641
A bi-directional loaded gun sounds dangerous, what other ways can users shoot themselves?

[2017-08-29 20:00] mcovarr commented on #1669
I am happy to report that Cromwell now fails spectacularly, not silently.

[2017-08-29 20:00] #1669 closed

[2017-08-29 20:04] geoffjentry commented on #1641
The issue is that she's asking to have everything dumped into one location. In KT's case the know all of the files will be uniquely named so that's AOK but if one enabled this feature w/o doing so and we implemented it naively one could have files being overwritten.

This could also be implemented to have some sort of name mangling (e.g. based on original path) to ensure uniqueness, but that might

[2017-08-29 20:06] katevoss commented on #1210
@geoffjentry will a job call cache if a user overrides runtime attributes?
@LeeTL1220 What do you mean by your last comment? Do you mean that there are certain parameters that cause a cache-miss when you change them, but you want them to cache-hit? That might be a different issue, I can create it if you want to explain it to me.

[2017-08-29 20:13] LeeTL1220 commented on #1180
In DSP methods, quite a few use Cromwell+SGE.  I'm not the only one.

Not really sure whether CGA uses Cromwell+SGE, but I highly doubt it.

On Mon, Aug 28, 2017 at 9:21 AM, ldgauthier <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2017-08-29 20:14] katevoss commented on #1669
Wohoo!

[2017-08-29 20:18] geoffjentry commented on #1210
@katevoss in a world where our runtime attrs weren't fubar we should be caching on what values were actually used. For instance if a user wants to swap in their own docker image or change the number of CPUs it should only cache to their variant.

And yeah, @LeeTL1220 brings up a good point - there are some parameters which should never cause the outcome to change but do get counted against caching

[2017-08-29 20:19] geoffjentry commented on #1180
There are multiple groups around the Broad who use this combo as well, or at least used to.

[2017-08-29 21:19] katevoss commented on #2425
@patmagee not to my knowledge but I can start the ball rolling.
@geoffjentry & @mcovarr, any opinions on supporting enums?

[2017-08-29 21:27] mcovarr commented on #2344
Please note this is the last remaining ticket in the #2313 epic, so that can be closed when this ticket is closed.  Maybe GitHub is smart enough to do that automagically, I'm not sure.

[2017-08-29 21:42] mcovarr commented on #1598
I'm fine with closing this but that might make @LeeTL1220 cry.

[2017-08-29 21:46] mcovarr commented on #2074
not gonna do it

[2017-08-29 21:46] #2074 closed

[2017-08-29 21:47] mcovarr commented on #2017
closeable?

[2017-08-30 00:28] LeeTL1220 commented on #1210
@katevoss @geoffjentry <https://github.com/geoffjentry> I do not know what
those runtime attributes would be.  Someone on red team would be much
better suited to answer that.

On Tue, Aug 29, 2017 at 4:18 PM, Jeff Gentry <notifications@github.com>
wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2017-08-30 00:33] LeeTL1220 commented on #1495
I have not had this exact issue in a while.  Though recently, I have had it take a long time to shutdown workflows and I have had it leave JES VMs running.

[2017-08-30 01:31] geoffjentry commented on #2425
I'm leery but not necessarily against it. I'm also generally the one with the most conservative opinion in terms of adding WDL syntax, so view that take as a lower bound of acceptance :)

@patmagee what were you thinking in terms of the syntax?

Pinging @vdauwera so she's abreast of this convo.

[2017-08-30 04:28] vdauwera commented on #2425
FWIW Enum support would definitely be very valuable to us in GATK-world, and are likely to be useful in general.

My one caveat would be that they should be easier to work with than they were in Queue (friendly elbow poke at @kshakir).

[2017-08-30 13:15] delocalizer commented on #2057
Fixed by #2160

[2017-08-30 13:15] #2057 closed

[2017-08-30 14:08] geoffjentry commented on #1312
Thinking about this more, "backend" is really a Cromwell concept and shouldn't be a WDL concept. I don't think that this shouldn't even find its way into WDL at all.

It should be:

1. Workflow Option
2. Default Backend

[2017-08-30 14:12] geoffjentry opened #2584 "Dynamic runtime determination of backend for a job"
In a Cromwell configured with multiple backends, be able to dynamically determine which backend to send a job based on where the input files live.

1. If there are no files, use the default backend
2. If all of the files are on the same filesystem, use the backend associated w/ that filesystem (see below)
3. If the files are not all on the same filesystem, error

This will require moving backend d

[2017-08-30 15:04] mcovarr commented on #2519
There's a good forum post on this topic here, including not only `includeKey` and `excludeKey` but also increasing Akka HTTP timeouts.

We might want to change those timeout defaults in `reference.conf` if users are seeing this routinely even with those filters.

https://gatkforums.broadinstitute.org/wdl/discussion/10209/retrieving-metadata-for-large-workflows

[2017-08-30 15:14] mcovarr commented on #2518
As a workaround you might want to do something like `ln /Users/jasonweirather/Dropbox (Partners HealthCare) /Users/jasonweirather/Dropbox-PHC` and run Cromwell out of the latter path.

[2017-08-30 15:56] mcovarr commented on #2514
Closing this in GitHub.

[2017-08-30 15:56] #2514 closed

[2017-08-30 16:05] mcovarr commented on #2521
I think this [happened](https://github.com/broadinstitute/wdl4s/blob/develop/wom/src/main/scala/wdl4s/wom/expression/WomExpression.scala#L23) as part of my "wrap WDL expressions in WOM" work, so this might be closeable.

[2017-08-30 16:07] mcovarr commented on #2523
I think the interface part of this is done, but the implementation is definitely not.

[2017-08-30 16:46] cjllanwarne opened #2585 "Ensure cross publish works in all projects"
All projects are required to work in scala 2.11 and 2.12.

Thusfore, we should check that `sbt +publish-local` works during our regular CI.

[2017-08-30 16:47] mcovarr commented on #2505
Running a slightly cleaned up version of your example:

[code]

I see this command go by in the logs:

[code]

So this appears to be working as expected.

[2017-08-30 17:20] mcovarr commented on #2504
I don't believe WDL ever allowed workflow declarations to be visible in tasks, but I'll label this as an enhancement request for our PO to review.

[2017-08-30 17:25] katevoss commented on #2017
Yes, let's revisit in the future but I don't think this ticket serves a purpose any longer. And with Github's automagic search features, we can always find it in the "closed" tickets 😃

[2017-08-30 17:25] #2017 closed

[2017-08-30 17:51] katevoss commented on #1641
As a **production pipeline runner**, I want **to write all output files in one directory (rather than hierarchical)**, so that I can **(@ktibbett why is this helpful?)**.
- Effort: **Small**
- Risk: **Medium**
  - if files have the same name they could be overwritten
- Business value: **TBD**

[2017-08-30 18:00] #1598 closed

[2017-08-30 18:23] mcovarr commented on #2494
As a short-term workaround you might define different config backends for each Docker configuration you want to support, but that wouldn't scale well if you have a lot of different configurations.  Also that requires changes to your conf file to match your WDL which is kind of gross.

Do you have any specific suggestions how you'd want this to work?

[2017-08-30 18:26] mcovarr commented on #2487
29 is out now, closing.

[2017-08-30 18:26] #2487 closed

[2017-08-30 18:37] mcovarr commented on #2365
The cpu and memory usage points are not addressed by `concurrent-job-limit`, so I've labeled this for PO review.

[2017-08-30 18:40] mcovarr commented on #2354
any more to do here?

[2017-08-30 18:43] geoffjentry commented on #2353
I think we already did ....

[2017-08-30 18:54] mcovarr commented on #2338
Call cache diffing did end up being written against metadata so what this ticket is asking for is no longer needed.

[2017-08-30 18:54] #2338 closed

[2017-08-30 18:56] #2353 closed

[2017-08-30 19:01] mcovarr commented on #2352
done

[2017-08-30 19:01] #2352 closed

[2017-08-30 19:03] mcovarr commented on #2351
not gonna do it

[2017-08-30 19:03] #2351 closed

[2017-08-30 19:18] mcovarr commented on #2350
not sure why this was asked for or if we still need it

[2017-08-30 19:19] mcovarr commented on #2319
are we still doing this?

[2017-08-30 19:21] mcovarr commented on #2286
Given the age of this ticket and how much has changed in this area I'm going to close this, but please us know if this is a continuing problem with Cromwell 29+ and we can revisit.

[2017-08-30 19:21] #2286 closed

[2017-08-30 19:55] mcovarr commented on #2268
I don't believe there's anything to do for Cromwell in this ticket and this should be closed.

[2017-08-30 20:29] katevoss commented on #1683
@mcovarr has this changed in the last 9 months? It's labeled as AWS but doesn't sound specific to AWS.

[2017-08-30 20:32] mcovarr commented on #1683
Right, it's not specific to AWS.  I tried this yesterday hoping it was like that other ticket and had magically been fixed, but now it dies without a stack trace so it's actually a little worse.  😦

[2017-08-30 20:33] katevoss commented on #1695
@cjllanwarne this hasn't been implemented, right?
I'm starting a [Runtime Attributes spec](https://docs.google.com/document/d/1EcsPrmZ6hKtz9vumhdT3357e1jdhljvs6eXXeT6HTaM/edit#), and start collecting all the things we should fix there.

[2017-08-30 20:35] katevoss commented on #1726
@mcovarr this isn't good! Is this still the case?
@bradtaylor / @helgridly how often do you see Cloud SQL problems?

[2017-08-30 20:36] mcovarr commented on #1726
Yes I believe this is still the case.

[2017-08-30 20:37] katevoss commented on #1677
@ktibbett I believe this is fixed now that custom labels are implemented. Is there anything remaining here?

[2017-08-30 20:39] katevoss commented on #1678
@geoffjentry I believe there was the feature from Google, pubsub, that should cover this use case. It's still on their side to finish implementing, AFAIK. Do we have an idea of how much longer it will be? Is it easier to implement pubsub or make our own solution?

[2017-08-30 20:50] helgridly commented on #1726
I think we had one a few months back. It's definitely been rare for us.

[2017-08-30 21:16] geoffjentry commented on #1678
@katevoss Can you explain more? Google pubsub has been around for a while so they might be overloading words again.

[2017-08-30 22:24] jason-weirather commented on #2518
Thanks @mcovarr!  ... I did something similar and it runs well.  I just wanted to get the path handling on their radar 😄.

[2017-08-30 22:28] mcovarr commented on #2518
Great, glad you got past the problem.  I agree Cromwell should be able to handle special characters in paths.

[2017-08-30 22:34] orodeh commented on #2283
I am currently experimenting with wdl4s object support in [dxWDL](https://github.com/dnanexus-rnd/dxWDL). The first use case is for representing JSON objects; it turns out that the syntax is very similar. I don't know if that is a coincidence. Presently, I am having trouble with the WDL object typing. For example, the workflow below:

[code]
When evaluated with Cromwell
[code]
reports:
[code]
Howe

[2017-08-31 14:39] katevoss commented on #2127
@geoffjentry any more issues for this Epic? Or are we waiting for SamIAM?

[2017-08-31 14:40] katevoss commented on #2308
@cjllanwarne are there any more issues under this Epic? Or can this be closed?

[2017-08-31 14:41] katevoss commented on #2313
@cjllanwarne After #2344 is complete, can this Epic be closed?

[2017-08-31 14:59] mcovarr commented on #2308
tl;dr there's a lot more work to do here and this should not be closed.

I made subprojects for `wom`, `wdl`, and `cwl`, but in reality all the WDL stuff was dumped into `wom` rather than `wdl` where it properly belongs.  WDL and WOM are currently very entangled, and Cromwell is talking exclusively to WDL interfaces rather than the WOM interfaces it should use.

[2017-08-31 15:05] mcovarr commented on #2308
To answer your actual question: there are currently no more issues under this epic, but there should be.  🙂   Those actually working on this should decompose the remaining work into new issues as they see fit.

[2017-08-31 15:15] katevoss commented on #2303
@danbills are there any more issues in this Epic after [#156](https://github.com/broadinstitute/wdl4s/issues/156)? Or can it be closed after?

[2017-08-31 15:23] katevoss commented on #1670
I see, so in order to call cache on an old workflow Cromwell has to dig into the database.

- Effort: **?**
- Risk: **Medium**
- Business value: **Small**

[2017-08-31 15:27] katevoss commented on #1679
@geoffjentry sounds like the workflow notes would be another endpoint, is that right? If so, what would you say the effort and risk is?

[2017-08-31 15:29] katevoss commented on #1684
@Horneth can you explain whether this impacts subworkflows or multi-cloud support, or both?

[2017-08-31 20:07] Horneth commented on #1684
The impact is on all workflows not just sub. The issue is that in a multi-backend world supporting different filesystems or authentication mechanisms it is likely that the current implementation of workflow outputs copying would break.

[2017-08-31 20:18] katevoss commented on #1740
@mcovarr is there any input validation now? Or are malformed inputs still poorly handled?

[2017-08-31 20:21] katevoss commented on #1746
@geoffjentry seeing as this issue is old but sounded rather urgent, I'm guessing that this has been resolved. If not let me know and I'll reopen.

[2017-08-31 20:21] #1746 closed

[2017-08-31 20:24] katevoss commented on #1751
@kshakir Per https://github.com/broadinstitute/cromwell/pull/2547, I believe that concurrent-job-limit is now available on all backends, so this issue is null and void. Correct?

[2017-08-31 20:25] mcovarr commented on #1746
This hasn't been truly cleanly fixed but I'm not sure a true clean fix is possible.  This is the reason for that "script epilogue" stuff that invokes various Unix spells in a desparate attempt to make sure data is flushed to disk before the job completes.

I'm fine with this being closed as I don't expect any activity on it in the forseeable future.

[2017-08-31 20:33] geoffjentry commented on #1746
@katevoss & I were just chatting w/ faces w/ the same content

[2017-08-31 20:35] geoffjentry commented on #1670
@katevoss cromwell would have to regardless. i mean right now a human has to go into the DB

[2017-08-31 20:37] Horneth commented on #2350
this is actually done as it's how the restart test works

[2017-08-31 20:57] kcibul commented on #1623
agreed -- closing!

[2017-08-31 20:57] #1623 closed

[2017-08-31 20:59] kcibul commented on #1634
yep -- that's where this came from, basically documenting our tests (in a very lightweight manner).  Might not also be bad for Cromwell internally rather than trying to guess what a certain WDL tests although the names are quite clever ;)

[2017-08-31 21:04] katevoss commented on #1791
@kshakir Can you tell me a bit more about this ticket? Is it still happening, or is Travis not having network errors anymore?

[2017-08-31 21:06] katevoss commented on #1747
@geoffjentry Did you do anything related to dispatcher tooling for your recent Health monitoring pre-gull PR?

[2017-08-31 21:12] #2268 closed

[2017-08-31 21:24] geoffjentry commented on #1747
No, in fact we're not going to be using this at all

[2017-08-31 21:24] #1747 closed

[2017-08-31 23:03] mcovarr commented on #1740
not sure I'll check it out.

[2017-09-01 12:58] patmagee commented on #2283
@Chapman I understand your issue. I encountered the Same thing when doing multi-sample workflows a while ago (since then I have only been writing single samples). I think I got around it by using a combination or multiple arrays and typed Maps. Not necessarily ideal, especially since at the time there was no `range()` function.

For a use case like that, it seems like a `struct` type makes total s

[2017-09-01 14:57] patmagee commented on #2425
@geoffjentry I share your concern with adding any sort of syntax to the spec, and my first inclination is to fake support enumeration. Im not exactly sure how to do that though, nor am I sure of whether its possible.

The cleanest way I can think of implementing would be maybe something like a Java style enum:

[code]

Another way that we would be able to do it would be define an Enum type in a wo

[2017-09-01 16:24] orodeh commented on #2283
@patmagee thanks, that clarifies this mysterious object behavior. For what it is worth, I like structs better, because they are statically typed, and are easier to program with.

[2017-09-01 16:49] raylim opened #2589 "Error pulling docker image (tag regex fails)"
I'm trying to use `quay.io/biocontainers/platypus-variant:0.8.1.1--htslib1.5_0`, but I'm getting the following error:

[code]

[2017-09-01 17:11] geoffjentry opened #2590 "Wire cromwell into cwl conformance tester"
Running locally: https://github.com/common-workflow-language/common-workflow-language/blob/master/CONFORMANCE_TESTS.md

Then get it on their master one: http://ci.commonwl.org/

Don't wire it into our travis yet as we won't be green for a while.

[2017-09-01 17:18] katevoss commented on #1634
As a **workbench QA**, I want **to know what is being tested**, so that I **don't under or over test for each release**.
@geoffjentry
- Effort: **TBD**
- Risk: **TBD**
- Business value: **TBD**

[2017-09-01 17:19] katevoss commented on #1566
@geoffjentry what do you think the effort would be? Any risks?

[2017-09-01 17:20] katevoss commented on #1059
This is resolved!

[2017-09-01 17:20] #1059 closed

[2017-09-01 17:21] raylim commented on #2589
The problem can be resolved if we change
[code]
on line 45 of `dockerHashing/src/main/scala/cromwell/docker/DockerImageIdentifier.scala` to
[code]

[2017-09-01 17:31] mcovarr commented on #2589
PRs to Cromwell are always welcome!  😄

[2017-09-01 17:33] Horneth commented on #2589
Thanks for reporting this ! I think it should even be `[A-Za-z0-9]+(?:[.:_\-A-Za-z0-9]+)*` to accept tags ending with `.:_-`, which as far as I can tell is allowed...

[2017-09-01 19:03] geoffjentry commented on #1678
@katevoss ooooh right. I think what that is was that they'll set things up so that you can have PAPI use Google PubSub to send that notification. I don't believe that's done yet.

[2017-09-01 19:06] geoffjentry commented on #1679
low and low, other than "it's another thing to maintain, document, and such"

one thing i'll throw out there, one could do this if there maximum desired note size was smaller than the maximum label size. At the moment that number is 63 characters.

Note (pardon the pun) that just increasing that limit comes with other headaches but we can wait until we go down that path before discussing.

[2017-09-01 19:09] geoffjentry commented on #2127
At the moment I think it's just waiting to be able to do query. We're also not using it in anger so issues might pop up once we start to do so but we can always make new issues for that.

[2017-09-01 19:11] geoffjentry commented on #1566
For the wording of this issue it'd not be hard to do.

[2017-09-01 19:22] katevoss commented on #1695
As a **workflow runner**, I want **to be able to select certain tasks to call cache or not call cache on**, so that I can **?**. @LeeTL1220 to help with this

@geoffjentry thoughts on the following?
- Effort: **TBD**
- Risk: **TBD**
- Business value: **TBD**

[2017-09-01 19:22] Horneth commented on #1678
Also that'll be to get notifications on job status not workflow. Only Cromwell knows when the workflow is done.

[2017-09-01 19:35] patmagee commented on #1679
@geoffjentry Just wondering if there is is already a way to do this by using the `meta {}` object in the workflow.

I know the meta object is not added  to the cromwell `/metadtata`, but it might be reasonable to add the `meta` to that object or includae an option for it. Alternatively at the moment it is entirely possible to use one of the WDL parsers to get this information directly from the wor

[2017-09-01 19:40] geoffjentry commented on #1679
@patmagee I'm not @ktibbett but I believe I know what she's after here (in fact I think I might have implemented the same feature for her on our previous system). Her group uses the notes field to annotate per-execution, particularly for failed runs. So if I'm an operator and see a workflow has failed I can use that to fill in some notes after investigation - that way if another operator comes and

[2017-09-03 14:21] Horneth commented on #2589
@raylim assuming your [PR](https://github.com/broadinstitute/cromwell/pull/2591) fixed this I'm closing the issue. Feel free to re-open if it's still not working.
And thanks again for the contribution !

[2017-09-03 14:21] #2589 closed

[2017-09-04 17:49] alongalor commented on #838
This is what I have implemented in order to get around this but it adds unnecessary complexity to code.

[2017-09-05 18:22] danbills opened #2592 "Support docker images and tags from local registry"
Local docker registry appends the port name to the docker image:
[code]

Cromwell should handle this appropriately, today it gives an InvalidSyntaxException.

Per [this issue in forums.](https://gatkforums.broadinstitute.org/wdl/discussion/10279/problem-with-docker-images-pulled-self-hosted-registries#latest)

[2017-09-05 21:54] raylim opened #2593 "not all docker images have /bin/bash (e.g. java:openjdk-7u121-alpine only has /bin/sh)"
Is there a way to specify the shell used for running the docker scripts?

[2017-09-05 22:24] geoffjentry commented on #2593
@raylim At the moment, no. Also note that if you're using the google backend that the pipelines API currently has the same limitation.

[2017-09-05 22:43] raylim opened #2594 "using boolean variables in task command different than WDL specification"
The specification according to the documentation is `${true="--enabled", false="--disabled" boolean_var}`, and the false tag is optional.  However, I get this error when attempting this syntax:

[code]
It looks like both `true` and `false need to be specified without a comma.

[2017-09-05 22:51] kshakir commented on #2593
Original ticket: https://github.com/broadinstitute/cromwell/issues/1384

[2017-09-06 12:10] patmagee opened #2595 "REST Endpoint to shut down Cromwell"
It would be nice to have a rest Endpoint which would cause Cromwell to stop launching any new Jobs, wait for a terminal state in all of the current jobs, then gracefully shutdown after a set delay.

The use case for this is an attempt to scale cromwell. We run a large number of workflows are and monitor the number of workflows per machine,  sometimes we need to increase the number of cromwells to

[2017-09-06 14:53] geoffjentry opened #2596 "Check full dev CaaS usability"
Via Swagger (thus ignoring "how does a random user auth" issue):

- Attempt to interact with all endpoints other than `query`.
- For any interaction which does not work appropriately, file a ticket
- Document any non-obvious/trivial steps you needed to take to make things work (e.g. "now go to Sam and do `something`")

CaaS dev URL: https://cromwell.caas-dev.broadinstitute.org/

[2017-09-06 15:35] geoffjentry commented on #2283
@orodeh It's definitely not a coincidence that `object` is like json objects. while we didn't have a real use case when we first designed WDL, the handwaving was that it was a json object-like thing

@chapmanb @patmagee @orodeh @katevoss @vdauwera - considering `object` as-is isn't working for anyone (and is likely implemented incorrectly in Cromwell/WDL4s anyways) and we seem to be having a momen

[2017-09-06 16:04] geoffjentry commented on #1634
risk is negligible
effort is probably higher than it should be but still shouldn't be too much

[2017-09-06 16:35] orodeh commented on #2283
@geoffjentry It would be great to collaborate and come up with a good solution. In my opinion, we can continue the discussion here on github. That is my two cents.

[2017-09-06 17:09] geoffjentry commented on #1695
With the add-on that this should *not* find its way into runtime attributes ....

This should be relatively low effort and risk. The risk would be that whenever we don't get something call caching related correct that causes a lot of angst

[2017-09-06 20:43] patmagee commented on #2283
@geoffjentry Github seems like a good enough place for now! At least for the initial discussion of what the the best type of construct would be.

It would be good to identify all of the current uses of the `Object`  type, both internally to cromwell / wdl, and externally in users workflows. Any replacement should address all of the current uses while adding the functionality we need.

[2017-09-07 08:06] Selonka commented on #1566
Hi,
Kate brought me here by this thread in the [forum](https://gatkforums.broadinstitute.org/wdl/discussion/10296/prioritize-workflows-which-are-allready-in-server-queue#latest)

It mostly covers the features @kcibul already requested. In addition, I would like to have an API command which forces a workflow directly to start by sending an actual running workflow to sleep/ pause. Maybe this could g

[2017-09-07 10:40] chapmanb commented on #2283
Jeff, Ohad, Patrick and all;
Discussing on GitHub works great for me. From my side having equivalent functionality to CWL records (http://www.commonwl.org/v1.0/CommandLineTool.html#CommandInputRecordSchema) would be perfect for me. Essentially it's a set of typed key/value pairs, so the current objects plus typing. CWL allows nested records but having a flat structure is fine with me if that's eas

[2017-09-07 13:03] #2344 closed

[2017-09-07 13:03] #2313 closed

[2017-09-07 13:03] #2467 closed

[2017-09-07 13:22] danbills commented on #2556
need to fix the getOrElse still

[2017-09-07 13:57] katevoss commented on #2281
from @cjllanwarne:

Idea: occasionally run the check-alive command to verify that long-running jobs are indeed still alive outside of restarting Cromwell.

[2017-09-07 13:57] katevoss commented on #2315
Closing in favor of #2281

[2017-09-07 13:57] #2315 closed

[2017-09-07 13:58] katevoss commented on #2350
Per @geoffjentry "no longer meaningful"

[2017-09-07 13:58] #2350 closed

[2017-09-07 14:24] ruchim opened #2597 "Call caching Placeholder File Copied in the wrong mode"
https://gatkforums.broadinstitute.org/firecloud/discussion/10282/confusing-file-left-in-call-cached-execution-directory#latest

Even though the call-caching mode is set to copy, the outputs have been copied and unexpectedly -- a placeholder has also been written to the call directory. I'm not sure of the frequency of this event as I'm not sure how many people are checking call directories for jobs

[2017-09-07 17:53] geoffjentry opened #2598 "Verify API based auth activity"
From both swagger & purely from command line verify that the following workflow (pardon the pun) works. If it does not, file tickets here or with Sam as appropriate. Create a doc detailing the outcome.

- Perform OAuth authentication (via clicky buttons in swagger, gcloud on CLI)
- Register user in Sam
- Submit workflow to Cromwell
- Get final results from Cromwell for that workflow

[2017-09-07 18:25] geetduggal commented on #2283
+1 on this :)  I think the idea of `struct` would be very useful to potentially enhance/replace the Object type.   May want the order of the type and variable name to be consistent with other WDL, e.g. instead of:

[code]

[code]

IMHO, the word `struct` is nice since it pays homage to C and it seems like a fairly nice correspondence.  May want to consider `tuple` as well.

Finally, I think a nice

[2017-09-07 18:45] #1729 closed

[2017-09-07 18:46] katevoss commented on #1991
From #1729, this is also important to @ktibbett and the Emerald Empire.

[2017-09-07 18:48] abaumann commented on #1448
We discussed this a bit before and realized that maybe this isn't as critical as long as they always end up there at the end.  In the past I know some information was only showing up there and not in other places and therefore you had to check there to see what was happening.  The number of occurrences like this may have decreased and there isn't an immediate need to do this.

[2017-09-07 18:51] katevoss commented on #1448
As a **workflow runner**, I want **periodically copy workflow logs**, so that I can **view intermediary results without waiting for the workflow to complete**.
- Effort: **Small**
- Risk: **Small**
- Business value: **Small**

[2017-09-07 19:00] katevoss commented on #2504
@mcovarr is this related to #1335?

[2017-09-07 19:49] mcovarr commented on #2504
I don't think so, no.

[2017-09-07 20:16] #2505 closed

[2017-09-07 20:34] katevoss commented on #1441
@Horneth then it sounds like it's no longer the case that Cromwell doesn't check if a job is complete before calculating the hash when restarting. In that case I'll close it unless there are objections.

[2017-09-07 20:34] #1441 closed

[2017-09-07 20:40] katevoss commented on #1355
Unfortunately this is not something we will be able to prioritize in the near or longer-term future, so I am closing this for now.

[2017-09-07 20:40] #1355 closed

[2017-09-07 20:51] katevoss commented on #1412
As a **WDL runner**, I want **to include a directory with index file(s) with my inputs**, so that I can **avoid doing it manually**.
- Effort: **? ** @geoffjentry
- Risk: ** ? ** @geoffjentry
- Business value: **Medium**

[2017-09-07 20:58] katevoss commented on #1872
@Horneth / @geoffjentry  did this make it into retries?

[2017-09-07 21:04] geoffjentry commented on #1872
We got what we needed from this one way or another

[2017-09-07 21:04] #1872 closed

[2017-09-07 21:04] katevoss commented on #1964
@Horneth did we finish this?

[2017-09-07 21:05] katevoss commented on #1955
@geoffjentry this feels relevant to our repo dependency discussion.

[2017-09-07 21:05] katevoss commented on #1934
@geoffjentry this also feels relevant to our repo dependency discussion.

[2017-09-07 21:06] katevoss commented on #1889
@geoffjentry is this still how retries work?

[2017-09-07 21:13] geoffjentry commented on #1934
I believe this is a wdl issue

[2017-09-07 21:18] katevoss commented on #1670
As a **workflow runner**, I want **to selectively invalidate a workflow so that Cromwell does not use it for a cache-hit**, so that I can **not use bad or old workflow results in my new workflows**.
- Effort: **Medium**
- Risk: **Medium**
- Business value: **Small**

[2017-09-07 21:29] katevoss commented on #1695
@geoffjentry Is this at the time of running the workflow, or after the fact (like #1670)?

As a **workflow runner**, I want **to be able to select certain tasks to call cache or not call cache on**, so that I can **avoid reusing bad or old cache results**.
- Effort: **Small**
- Risk: **Small to Mediume**
  - This should not be a runtime attribute
  - Make sure users don't overuse this feature and

[2017-09-07 21:31] katevoss commented on #1740
@mcovarr did you get a chance to look at this?

[2017-09-07 21:44] katevoss commented on #1991
As a **workflow runner**, I want **Cromwell to automatically retry my workflow with increased memory/disk/on a specific error code, etc**, so that I can **get my workflow to complete without having to manually intervene**.
- Effort: **?** @geoffjentry
- Risk: **Medium**
  - if users are unaware that they have retries set in ways that would cost them a lot the 2nd or tertiary run, i.e to double the

[2017-09-07 21:45] cjllanwarne opened #2599 "Expressions in array accesses won't parse"
The following WDL fails to parse because of the expressions in the array accesses.

[code]

The error given is:
[code]

[2017-09-07 21:46] katevoss commented on #1861
@knoblett is this still blocking Cromwell's call caching because calls aren't updated as succeeded? I haven't heard this come up in a while.

[2017-09-07 21:50] #1740 closed

[2017-09-07 21:50] katevoss commented on #1976
@helgridly and @jmthibault79 I'm guessing you don't remember any details from February, but have you seen any similar behavior since?

[2017-09-07 21:51] katevoss commented on #1923
@mcovarr I know it's a bit ancient but can you provide more context about this issue?

[2017-09-07 21:52] katevoss commented on #1838
@cjllanwarne has this been implemented? If not, can you give me more information about when a user would want this?

[2017-09-07 21:53] katevoss commented on #1882
@geoffjentry Can you tell me what the issue is here?

[2017-09-07 22:02] kbergin commented on #1566
@katevoss @geoffjentry @kcibul @dshiga

The HCA has no current need for prioritization of workflows, but has a strong need for the ability to submit jobs without starting them (in a queue) and then start them later on. Our entire infrastructure design relies on this feature existing. This ticket is framed by Kristian above as though that functionality already exists, but from my understanding it d

[2017-09-07 22:15] mcovarr opened #2600 "Add an option to turn off Docker hash lookups"
Per the linked forum post, add an option to turn off Docker hash lookups with the understanding that this would not be compatible with call caching.

https://gatkforums.broadinstitute.org/wdl/discussion/10279/problem-with-docker-images-pulled-self-hosted-registries

[2017-09-07 22:17] helgridly commented on #1976
A very quick peek in the Rawls db for workflows still in Aborting gives me 92. The earliest one is from February so I'd _guess_ this is still a problem.

[2017-09-07 22:33] helgridly commented on #1976
The workflow d800c362-e8e7-48e2-bb08-3b88226307e9 has been aborting on cromwell1 since 2017-06-27. Rawls is still trying as of the time of me posting this.

[2017-09-07 23:09] delocalizer commented on #1499
@katevoss #2281 is a dupe of this

[2017-09-07 23:11] delocalizer commented on #1499
#2315 (closed) also a dupe

[2017-09-08 12:42] patmagee commented on #1838
Ive also come across a few scenarios where a task was run that produced different output, depending on whether or not some flag was set in an input file.

In most cases I just name the files the same, or use a glob, but there have been some scenarios where the resulting names were totally different with different extensions and I had to create seperate tasks for them.

[2017-09-08 14:45] katevoss commented on #2600
@mcovarr is this related to #1670 or #1695 ?

[2017-09-08 14:57] katevoss commented on #2281
This is a dupe of #1499, future conversations will be tracked there.

[2017-09-08 14:57] #2281 closed

[2017-09-08 14:57] katevoss commented on #1499
Good catch! I closed #2281.

Transferring conversation here:
From @MatthewMah

From @geoffjentry

From @cjllanwarne:

Idea: occasionally run the check-alive command to verify that long-running jobs are indeed still alive outside of restarting Cromwell.

[2017-09-08 14:58] mcovarr commented on #2600
It's not unrelated to those but in no way duplicates them.

[2017-09-08 15:28] kcibul commented on #1605
It's just that people often have a big list of intervals (e.g. the exome intervals are ~200,000 intervals).  Then they want to scatter to VMs based on that interval list, but it's not 1:1.  They want 50 or 100 shards.  So the work of taking that one file, and splitting it into 50 or 100 files is I think what's being talked about here.

You can (and people do!) accomplish this today by writing a ta

[2017-09-08 15:39] kcibul commented on #1292
This one comes up *a lot*, and will even more once people can see how much they are spending on intermediate results in FireCloud

I wanted to ask about the effort -- why large?  Alex has already implemented the logic for what to delete by looking at the workflow metadata, and if we simply had an endpoint to "evict from call cache" we could build this outside the system pretty easily.  Basically,

[2017-09-08 15:42] kcibul commented on #1492
FWIW I've built a basic version of this in bash that Banks/SpecOps uses on
a daily basis

-------------------------------
Kristian Cibulskis
Director of Platform Engineering, Data Sciences Platform
Broad Institute of MIT and Harvard
kcibul@broadinstitute.org

On Mon, Aug 28, 2017 at 4:24 PM, Jeff Gentry <notifications@github.com>
wrote:

[2017-09-08 17:15] Horneth commented on #1964
Nop

[2017-09-08 19:12] katevoss opened #2604 "Ignore certain parameters and call cache anyways"
As a **workflow runner**, I want **certain parameters to be ignored in the hashing process**, so that I can **call cache on more workflows when the result is exactly the same**.
- Effort: **?**
- Risk: **Medium**
  - We should err on the side of hashing a workflow differently if we are not absolutely confident that the parameter does not impact the result.
   - Which parameters are ignored is NOT

[2017-09-08 19:15] katevoss commented on #2019
@geoffjentry what is the reflectively loaded classes? If it's just the docs, I can do a quick ReadMe "search and replace" 😁

[2017-09-08 19:25] patmagee commented on #1492
@kcibul @geoffjentry I actually have a python cli for running Workflows (and a single task) against the cromwell rest interface which I can open source when I get a chance.  The cli lets you run one or more workflow. Its missing some parameters but you guys can feel free to expand it. Ive run 1000's of workflows with this little tool

[2017-09-08 19:54] LeeTL1220 commented on #2604
I can't think of any runtime parameters (with the exception of `docker`)
that should change the hashing.  Also, are the inputs to the task hashed or
is it the fully rendered command block or what?  Because if I have a
parameter to the task (such as "preemptible_attempts") that is only used in
the runtime block, (ideally) I'd like it to be ignored for call caching
purposes.

On Fri, Sep 8, 2017 at

[2017-09-08 20:02] katevoss commented on #1495
As a **workflow runner**, I want **use Command+C to abort running jobs**, so that I can **fully shut down Cromwell using a standard command shortcut**.
- Effort: **?** @geoffjentry
- Risk: **?**
- Business value: **Small to Medium**

[2017-09-08 20:03] katevoss commented on #1489
I'm going to close this, if you (or anyone else) sees this behavior again then you're welcome to reopen.

[2017-09-08 20:03] #1489 closed

[2017-09-08 20:08] katevoss commented on #1348
As a **workflow runner running on Local**, I want **Cromwell to localize one copy of a file from the cloud when I use it multiple times in my workflow**, so that I **am only charged egress to local once**.
- Effort: **?** @geoffjentry
- Risk: **?** @geoffjentry
- Business value: **TBD**

[2017-09-08 20:13] mcovarr commented on #1348
We'd need to be careful inputs aren't being modified in place before allowing them to be used again.

[2017-09-08 20:14] katevoss commented on #1575
As a **workflow runner**, I want **to be able to reference Cromwell's workflow ID in a WDL**, so that I can **programmatically query for metadata about that workflow**.
- Effort: **?** @geoffjentry
- Risk: **?** @geoffjentry
- Business value: **TBD**

[2017-09-08 20:20] katevoss commented on #1581
As a **Cromwell developer**, I want **each unit test to appear once**, so that I can **avoid duplicate (and messy) tests**.
- Effort: **TBD**
- Risk: **Small**
- Business value: **Small**

[2017-09-08 20:21] patmagee commented on #1575
@katevoss I previously asked about this as well. Our use case had more to do with tracking individual costs associated with Jobs initiated within a Task, but not managed by cromwell at all (Ie add labels to a google api call from within a wdl task).

The response I received back was that it would be considered, but it creates a NonDeterministic task that will be different each time you call it wit

[2017-09-08 20:22] katevoss commented on #1578
As a **workflow runner using the CLI**, I want **an option to send the output JSON into a separate file**, so that I can **avoid digging through the whole metadata for the information I need**.
- Effort: **?** @geoffjentry
- Risk: **Small**
- Business value: **Small**

[2017-09-08 20:27] katevoss commented on #1492
As a **developer using Cromwell**, I want **to run workflows from the CLI that connect directly to the Cromwell REST APIs**, so that I can **easily interact with the APIs (does that sound right? @geoffjentry @Horneth )**.
- Effort: **?**
- Risk: **?**
- Business value: **?**

[2017-09-08 20:29] geoffjentry commented on #1492
@katevoss I'd suggest we hold off and try to take advantage of what @patmagee has. Also summoning @vdauwera - this sounds like something which could go on the tooling page.

[2017-09-08 20:37] katevoss commented on #1499
As a **user running workflows on an HPC cluster**, I want **Cromwell to periodically check that my jobs are still running**, so that I can **know when jobs are alive versus when they reach the runtime limits and are killed by the backend**.
- Effort: **Small**
- Risk: **Small**
- Business value: **Small to Medium**

[2017-09-08 20:41] katevoss commented on #1750
Of the folks who have expressed in SLURM support, has anyone had a chance to try it out? Any feedback (or recommended documentation) would be great.

[2017-09-08 20:41] #2021 closed

[2017-09-08 20:45] geoffjentry commented on #1750
We know that both @MatthewMah and Intel were able to use SLURM (albeit with different configs)

[2017-09-08 20:56] geoffjentry commented on #1889
Yes and no, but this isn't meaningful any longer.

[2017-09-08 20:56] #1889 closed

[2017-09-08 21:05] geoffjentry commented on #1887
I believe so, this doesn't seem like the sort of thing which would have been magically fixed by something else

[2017-09-08 21:22] geoffjentry commented on #2019
The issue is that the way one loads a backend into Cromwell is to reference the implementing scala class, like [this](https://github.com/broadinstitute/cromwell/blob/f1955f963ee65ca9296f554376bd655b9529c10d/cromwell.examples.conf#L466)

If we change the name of that class old config files will be broken. In theory we could deprecate it and have some sort of redirect but not sure offhand how that'd

[2017-09-08 21:24] geoffjentry commented on #1495
I do this all the time and never have a problem. It's possible that there's some pathological state things can be in which causes problem but we'd need a reproducible example to track it down and we don't have one. I vote to close this.

[2017-09-08 21:24] MatthewMah commented on #1750
Yes, I am using Cromwell on SLURM. The significant changes since the completed pull request for the SLURM configuration have been
1.  addition of `script-epilogue = ""` to eliminate the sync behavior after completing tasks. Sync caused some jobs to wait beyond their runtime limits for the sync to complete.
2. `concurrent-job-limit` to limit number of jobs submitted to scheduler. The HMS staff will

[2017-09-08 21:26] geoffjentry commented on #2595
@patmagee Why not send a `kill` signal to the process?

I see the utility of what you're asking for but this seems like something better handled via devops-y manipulation of the process itself. This also gets into the issue of needing to protect the endpoint in a situation where one doesn't trust all users to not be jerks.

[2017-09-08 21:34] mcovarr commented on #2590
tl;dr we want a CLI that allows SWR Cromwell to be invoked through an interface that greatly resembles `cwltool`. Per `cwltest`, it might even be a good idea to call it that:

[code]

[2017-09-08 21:38] geoffjentry commented on #2590
also my likely incomplete understanding is that systems like arvados and bunny have their cwltest script actually launching a server and then converting the command line calls into http calls. another possibility.

[2017-09-08 21:44] mcovarr commented on #2590
Hmm maybe we should specify what we want here before I start writing... 🙂

[2017-09-08 21:58] geoffjentry commented on #2590
@mcovarr DoD is to have the conformance test exercising Cromwell in their CI. I know that that requires a command line program in a well known location, but they're not picky about the implementation of that program other than it's transforming that API they provide to the CWL implementation. I'm also not picky, was just throwing out a few other possibilities which might have been overlooked.

If

[2017-09-08 23:44] mcovarr commented on #2590
OK, let me think this through as much as possible and write up the pros/cons I see in the different approaches. We can discuss in person before I start to code (faces over feces).

[2017-09-09 13:54] geoffjentry commented on #1695
@katevoss You could get part of the way there with #1670 but not the `read_from_cache` option

[2017-09-09 13:57] geoffjentry commented on #1882
@katevoss IIRC the intended behavior is that submitted files are stored as-is no matter what and then when we pick up the workflow we check to see if everything is valid. However @cjllanwarne noticed that we are actually validating one of the input files at actual submission time which led to two issues: a) there was a reason why we didn't want to do that in the first place, b) there was a suspici

[2017-09-09 14:08] geoffjentry commented on #1575
@katevoss It'd be easy to do. It'd be useful for some folks, as you can see by @patmagee chiming in. It's not without issue - e.g. the call caching issue that @cjllanwarne pointed out (potentially solvable by syntax a la @patmagee).

Another thing to consider is if we're starting to blend implementation with syntax - by doing this you're requiring a WDL implementation to have a notoin of workflow

[2017-09-09 14:10] geoffjentry commented on #1578
hands on keyboard effort is relatively low. the real work is defining how to specify it, although now that we have the snazzy new CLI interface it's probably pretty simple to do so

[2017-09-09 16:04] mcovarr commented on #1882
Per my investigation of #1740 I can confirm the validation is running synchronous to submission, which it should not be. But the API is returning an error for malformed input and not just timing out.

[2017-09-09 17:40] patmagee commented on #1575
Another option would be a cromwell speicifc thing. With cromwell, you could reserve a variable at the level of the workflow called `String cromwell_workflow_id`. When cromwell is resolving inputs, it basically would set this to the value of the current cromwell id.

We would not need to change syntax, just document what vairable names are reserved for cromwell.

[2017-09-09 18:27] geoffjentry commented on #1575
@patmagee to be clear i'm not *too* worried about that implementation statement I made. It's just that I think this particular concept is trending in that direction so I'd like us to be careful.

[2017-09-09 19:39] geoffjentry commented on #1882
@katevoss Without looking at it, I suspect this would be as easy as removing the validation check. I have a feeling we're also checking where we're supposed to be, making this check not only in the wrong location but also superfluous. My vague recollection was that this was added after the fact by a well intentioned do gooder.

[2017-09-11 13:02] #1495 closed

[2017-09-11 13:25] katevoss commented on #1777
@geoffjentry @cjllanwarne what is the user story here? What are users trying to do that improving globs would help them?

Is this something users have asked for, or is it a mucky problem within Cromwell that we want to fix?

[2017-09-11 13:26] katevoss commented on #1793
@seandavi I wanted to follow up on @geoffjentry 's question, are you using paging? Can you explain more how you are using it?

[2017-09-11 13:27] geoffjentry commented on #1777
The problem turns out to be broader than globs as joint genotyping pointed out. The way we handle large arrays, particularly large file arrays chews up a massive amount of ram- in the case of a single large workflow it can be impossible to run. In a multi tenant case it can be death by a thousand cuts.

This will absolutely need to be improved before we get too far down the caas journey

[2017-09-11 13:29] geoffjentry commented on #1793
When I upgraded to Akka http I found and verified that note from @kshakir that out paging "exists" but is massively broken

Generally it is viewed as good practice to provide paging for either all or all potentially large results, this is definitely the latter and obviously the former :)

[2017-09-11 13:30] katevoss commented on #1794
@seandavi have you noticed similar problems recently? If not I'll close this.

[2017-09-11 13:39] katevoss commented on #1683
As a **user running workflows and setting up configs**, I want **Cromwell to (fail nicely?) when I reference a pluggable backend class that's not on the classpath**, so that I can **(still run my workflow? get a nice error message?)**.

@geoffjentry
- Effort: **Small?**
- Risk: **Small**
- Business value: **Small**

[2017-09-11 13:54] katevoss commented on #1726
@geoffjentry sounds like this will be necessary in a CaaS world, do you agree?

As a **FC/GOTC developer**, I want **Cromwell to test with Cloud SQL after every release**, so that I can **avoid critical (? @helgridly a bug in Cloud SQL would be critical, right?) regressions and issues in production**.
- Effort: **Medium**
- Risk: **Small**
- Business value: **Medium**

[2017-09-11 14:01] helgridly commented on #1726
Depending on the issue, a cloud SQL issue could cause anything from a failed migration and delayed release to data loss and restore from backup. (The first is extremely more likely.)

[2017-09-11 14:09] katevoss commented on #2016
This sounds related to #1726, is it also a matter of adding it to the list of things that Cromwell automatically retries?

[2017-09-11 14:12] katevoss commented on #1997
As a **user**, I want **Cromwell to not check the backend attribute**, so that I can **not be distracted by strange warnings that aren't actually useful**.
- Effort: **Small**
- Risk: **Small**
- Business value: **Small**

[2017-09-11 16:24] alongalor commented on #838
By "this" do you mean nested scatter blocks or cross and subworkflows?

[2017-09-11 16:52] katevoss commented on #1962
@vdauwera can you explain when a user would want to use this in their WDL?

[2017-09-11 16:54] katevoss commented on #1920
Sounds like we don't test MySQL, HSQL, or CloudSQL ( #1726 ), is that right?
@cjllanwarne would the effort to test MySQL and HSQL be the same as testing CloudSQL? Who do we know is using MySQL and HSQL?

[2017-09-11 17:03] katevoss commented on #1807
@geoffjentry have you continued to see many logs as drowning performance? It sounds like optimizing logs could give us a large bump in scale!

[2017-09-11 17:08] katevoss commented on #1678
@geoffjentry I found this in the Google Issue tracker: https://cloud.google.com/storage/docs/pubsub-notifications Would that meet our needs?

[2017-09-11 17:27] vdauwera commented on #1962
There's loads of scenarios where this would be useful; iirc the case I was working on when I made this request was that I had a FOFN that contained a list of samples with bam and index filepaths, and I wanted to load that in as input to a task.

[2017-09-11 17:33] mcovarr commented on #1920
We are testing MySQL and HSQL but not CloudSQL. Unfortunately CloudSQL is what we actually use in production.

[2017-09-11 17:34] mcovarr commented on #1920
...soooo I think this particular ticket can be closed.

[2017-09-11 18:02] #1920 closed

[2017-09-11 18:29] mcovarr commented on #2597
I think is is complete given that #2601 and #2602 are merged.

[2017-09-11 18:36] mcovarr commented on #2219
Fixes for this were pushed out a long time ago, closing.

[2017-09-11 18:36] #2219 closed

[2017-09-11 18:57] mcovarr commented on #2590
Actually if #1492 is done first there may not be a whole lot of difference between SWR and server mode interactions.

[2017-09-11 20:00] Horneth opened #2606 "Fix runtime attributes"
Cromwell can fallback to configured default runtime attributes. The current implementation leverages the fact that `WdlExpression` extends `WdlValue`. This is not true anymore with WomExpressions. Find a way to fix this preferably without having WomExpression extend WdlValue.
This breaks runtime attribute validation in the `BackendWorkflowInitializationActor` and default runtime attributes.

[2017-09-11 20:01] Horneth opened #2607 "WomExpression should expose a source string value"
Cromwell needs to be able to get a representation of an unevaluated `WomExpression`, in particular for call caching.

[2017-09-11 20:04] Horneth opened #2608 "WOM CommandPart redo"
WOM currently uses the WDL CommandPart which contains WDL specific constructs (WdlFunctions)
WOM should get its own CommandPart.
Also factor in the fact that tweaks will have to be made in the way the command is instantiated depending on the language or even language configuration (this might be better put in the TaskDefinition instead though)

[2017-09-11 20:12] Horneth commented on #2607
moved to wdl4s

[2017-09-11 20:12] #2607 closed

[2017-09-11 20:13] Horneth commented on #2608
moved to wdl4s

[2017-09-11 20:13] #2608 closed

[2017-09-11 20:17] Horneth opened #2610 "Honor stdout / stderr custom paths"
Wom will provide (optionally) paths where stdout and stderr should be written. Honor those paths if present.

[2017-09-11 20:26] Horneth opened #2611 "Language specific configuration (not enforcing read_X limits)"
Design a way for Cromwell to pass language specific configuration to the various bindings.
The use case for this is read_*** bytes limitation that are different for different WDL functions which Cromwell has no knowledge of anymore.
CWL also requires the same type of limitation.

[2017-09-11 20:27] Horneth opened #2612 "Run I/O methods from the IoFunctionSet through the I/O Actor"
This will give us retries, batching and throttling also for expression evaluation

[2017-09-11 21:18] geoffjentry commented on #1807
I haven't done the sort of experimentation I was doing back then since, well, then.

IIRC there were some things which looked like they could help, I thought I had a ticket for at least one of them.

Ah - #1809 is explicitly what I was thinking of

[2017-09-12 15:03] kshakir commented on #1499
- Currently the mechanism for "checking if a job is done"-- in  tests and main code-- is to look for `rc` files
- On restart if the `rc` file is missing, there's a single extra check to the scheduler to see if the job is alive, by running a external command line process per job
- Thousands of jobs should NOT ping a scheduler for GridEngine/SLURM/LSF/etc. or it will be overloaded<sup>1</sup>
- It's

[2017-09-12 15:19] katevoss commented on #1808
@geoffjentry what are unhandled messages, and why do we explicitly log them?

[2017-09-12 17:06] katevoss commented on #838
@alongalor Subworkflows were completed in Cromwell 23, see the [Changelog for more](https://github.com/broadinstitute/cromwell/blob/develop/CHANGELOG.md#annex-a---workflow-outputs).

[2017-09-12 17:16] Horneth opened #2614 "Reinstate Declarations"

[2017-09-12 17:30] Horneth opened #2615 "Reinstate SubWorkflows"
Then reinstate centaur tests:
- [ ] `sub_workflow_interactions_scatter`
- [ ] `sub_workflow_hello_world`
- [ ] `conditionals.lots_of_testing`
- [ ] `conditionals.subworkflows_in_ifs`
- [ ] `recursive_imports`
- [ ] `missing_import_failure`
- [ ] `sub_workflow_interactions`
- [ ] `public_http_import`
- [ ] `aliased_subworkflows` (addition: make sure WF inputs direct from `input.json` to the aliased

[2017-09-12 17:31] Horneth opened #2616 "Reinstate conditionals"

[2017-09-12 17:31] Horneth opened #2617 "Reinstate scatters"

[2017-09-12 17:37] geoffjentry commented on #1808
When an actor sends a message to another actor and that actor isn't expecting to handle that type of message, akka has its own way of logging the error. Some well intentioned Cromwellians often partake in a pattern where they explicitly catch these and log the error. It's unnecessary and adds to LOC.

Really this is tech debt, i'll relabel

[2017-09-12 17:48] Horneth commented on #838
@katevoss I think the confusion is maybe that nested scatters (which this ticket is about) are not completed. Subworkflows, which can be used as a way to obtain an equivalent result to nested scatters, are completed.
If you meant to close this because "nested scatters won't be done anytime soon and there is a (slightly painful but working) workaround for it" that's also totally fine :)

[2017-09-12 19:44] katevoss commented on #1808
As a **Cromwell dev**, I want **Cromwell to follow akka protocols of handling unexpected messages**, so that I can **avoid excessive LinesOfCode**.

[2017-09-12 19:54] Horneth opened #2618 "Rewrite (or move to wdl4s) EngineFunctionsSpec"

[2017-09-12 21:06] MatthewMah commented on #1499
@kshakir One simple possibility for batching that would work for LSF and SLURM (not sure about other schedulers) would be to query the scheduler for all user jobs that are currently running, then compare this to the expected running jobs. The output for multiple jobs is very similar to that for a single job, so parsing should not be much harder.

- On LSF, ~~`check-alive = "bjobs ${job_id}"`~~ wou

[2017-09-12 22:34] geoffjentry commented on #1292
I have a fear that *Large* came from me, but I don't know why I would have said that. Thinking about it right now the only part which seems tricky is making sure people understand the implications for call caching

[2017-09-12 23:10] pmalshe opened #2620 "Enabling soft links for Dockerized jobs"
- Cromwell does not support soft links for dockerized jobs by [design](https://github.com/broadinstitute/cromwell/blob/29_hotfix/supportedBackends/sfs/src/main/scala/cromwell/backend/sfs/SharedFileSystem.scala#L112)
- I guess that's because symlinks are a big challenge with Docker. They do not work inside Docker container unless both the directories are mounted (dir with symlink - Cromwell's tmp e

[2017-09-13 00:37] geoffjentry commented on #1678
@katevoss iirc we can't do anything with it directly (as i said, pubsub itself has been around for ages), but would need papi to be smart about it. I think there's a ticket, and sine you said you saw it in the tracker that's likely true.

also note that what @Horneth said is true. i've resisted this request for quite some time because i don't like the idea of wiring in email sending into cromwell.

[2017-09-13 01:56] geoffjentry commented on #1292
@kcibul Re-reading the issue, one thing is *not* going to be in the cards. We will *not* be removing the workflow from the metadata. The point of metadata is that it is immutable (our unfortunate fondness for migrations notwithstanding). What we *can* do is to send an event to metadata saying that the workflow has been deleted.

[2017-09-13 02:09] kcibul commented on #1292
So for intention of this endpoint (storage savings) that's probably fine, although I would highly recommend we rename this endpoint to be "compact" or something.

At some point, it would be good to have a full data lifecycle delete or provide ways to manage the "db storage" behind Cromwell without having people blindly monkey around in the db.  scripts or docs could accomplish this too

[2017-09-13 02:11] danbills commented on #2124
# Re: Sublime support

## Added support for if/then/else
Runtime was already present?

## Easier Sublime Installation
In order to streamline Sublime installation, I [created a package](https://github.com/broadinstitute/wdl-sublime-syntax-highlighter) for their package manager Package Control.

## Requires moving those syntax highlighter files out of wdl repository
Sadly the package hosting mechani

[2017-09-13 02:16] geoffjentry commented on #1292
It just goes back to the point of the metadata architecture. It's entire intention is to be write once and then read only. People should also not be blindly removing things from it either. Totally agree w/ your 2nd paragraph but the "remove stuff from metadata" option is a pretty fundamental change - there are other ways to attack it if it's an issue.

[2017-09-13 02:16] kcibul commented on #1292
@katevoss In re-reading this thread...  I think the MVP has to include the ability to delete things via refresh token somehow.  (Which looks like I said the same thing on this issue almost a year ago!)

[2017-09-13 02:19] geoffjentry commented on #1292
@kcibul Could the refresh token aspect be what caused you to say the following: " It sounds like the approach won't work for FireCloud which is a very important use case."? I've asked a few times in this thread what that meant and am still in the dark :)

[2017-09-13 02:22] kcibul commented on #1292
Yes -- my original comment was because of the inability to remove files created via refresh token.  I think then you asked why FireCloud couldn't implement the delete functionality themselves... which they could but that seems brittle and better to centralize (e.g. they would have to crawl the metadata, evict things from the cache, etc).

[2017-09-13 02:30] geoffjentry commented on #1292
I definitely don't think they should be doing it themselves for those very reasons so rest easy :) at least not in the long term, there's discussion over there about doing something in the interim

[2017-09-13 15:13] eitanbanks commented on #1292
FWIW I want this functionality!  With 20K shards every time we create a joint callset, that's a ton of files to be listing (and then paying for that list command)...

[2017-09-13 15:14] kcibul opened #2621 "Call Caching .md5 files should have trailing whitespace removed"
A very common way of producing a side .md5 file is to use something like

`md5 -q dbsnp_138.vcf > dbsnp_138.vcf.md5`

Which produces a trailing newline character, which cromwell reads and interprets as part of the hash, thus causing cache misses against files that (a) were hashed by cromwell or (b) don't have a newline.  Not only isn't this the desired behavior... it's very confusing because it ap

[2017-09-13 15:16] cjllanwarne commented on #2621
We could go one further and say we should be verifying that it's actually an MD5?

[2017-09-13 15:19] kcibul commented on #2621
One could... but that does introduce some new complexity... how do you tell the user?  Is this more metadata?  If there are quick answers for those, then sure!

[2017-09-13 15:34] katevoss commented on #2223
@antonkulaga this sounds like a use case for #1292, is that the same idea of what you're looking for?

[2017-09-13 17:39] cjllanwarne opened #2622 "Submit to cromwell from CLI"
The mental shift from Cromwell as a CLI to Cromwell in server mode is pretty stark.

I believe it would really help users if submitting to a Cromwell server was part of the CLI and was as close as possible to the existing run mode syntax.

Some options:
- `cromwell run hello.wdl -h localhost` (i.e. the same as "run" but with a host option)
- `cromwell submit hello.wdl -h localhost` (as a separate

[2017-09-13 17:48] cjllanwarne opened #2623 "Cromwell server start/stop script"
It would be really handy to have a `cromwell.server` script that would make starting and stopping a server cromwell easy.

[code]

[2017-09-13 18:09] cjllanwarne opened #2624 "Cromwell quickstart"
eg something like:
[code]

[2017-09-13 18:10] katevoss commented on #2624
![supercomputer_cyoa_large](https://user-images.githubusercontent.com/2395211/30393179-454aeb34-988d-11e7-955b-490778436f03.jpg)

[2017-09-13 18:23] katevoss commented on #2622
@cjllanwarne is this related to #1492?

[2017-09-13 18:32] Horneth opened #2625 "Restore engine functions for workflow level declarations"
In the MaterializeWDA, the `validateDeclarations` method now uses `NoFunctions` which prevents evaluation of workflow level declaration with `read_string` etc...
The way of achieving this may be different in WOM-world but this functionality must remain.

[2017-09-13 18:52] geoffjentry commented on #2621
I think for now it's safe to believe the user

[2017-09-13 19:14] Horneth opened #2626 "Fix unit tests tagged PostWomTest"

[2017-09-13 19:14] Horneth opened #2627 "Fix and remove all TODO: WOM"

[2017-09-13 19:50] katevoss commented on #2623
@cjllanwarne What's the background here? What are users trying to do that it would make their lives easier? Not that I doubt it would, I just don't understand the use case.

[2017-09-13 20:28] kshakir opened #2629 "Update CromIAM SAM resource type for `workflow`"
Doug will soon be changing the SAM resource type for workflows from `workflow` to something like `workflow-collection`.

CromIAM will need to be updated [here](https://github.com/broadinstitute/CromIAM/blob/a65b4569c40b10bd3477e0394f2c55dd1ddd234a/src/main/scala/cromiam/sam/SamClient.scala#L47).

This change must be synchronized with the change to SAM in the dev environments. NOTE: Doug has also m

[2017-09-13 20:36] geoffjentry commented on #1292
Was talking with faces w/ @abaumann about this, particularly as it regards to current problems Firecloud is having. We managed to seriously birdstone a variety of issues by adding the following tidbit to this feature request:

- The deletion of files is optional. If they choose to not delete their files, Cromwell will just erase traces of the workflow from its database

[2017-09-13 21:35] dvoet commented on #2629
Merge this when ready https://github.com/broadinstitute/sam/pull/20

[2017-09-14 11:20] eitanbanks commented on #1292
Thinking about this a little more, I just added this comment to Kate's doc:
"FWIW, I don’t necessarily need Cromwell to do the delete for me in my use case.  I’m happy to do it if I have all the files at hand that I want to delete.  This is important because I don’t really want an all-or-nothing delete.  I usually want to delete the call cached intermediate results, but not the final outputs of th

[2017-09-14 13:19] katevoss commented on #2168
As a **user running workflows on PAPI**, I want **my workflow to be upgraded from preemptible to regular compute if it is killed after 24 hours rather than retrying**, so that I can **avoid retrying on a job that will need more than 24 hours to run**.
- Effort: **@geoffjentry** ?
- Risk: **Small to Medium**
   - We'd need a way of being certain that the job was killed due to timeout, rather than a

[2017-09-14 13:21] katevoss commented on #2177
@geoffjentry I know I've heard Singularity come up fairly regularly, do you know if there are users who are insisting on using Singularity in order to use Cromwell?

[2017-09-14 13:22] katevoss commented on #2171
@geoffjentry resurrecting this, I'm not sure if it was ever completed. Can you tell me more about what the batch management program does?

[2017-09-14 13:29] katevoss commented on #1809
@geoffjentry What benefit does the AsyncAppender have for our logs? How realistic is the risk that some messages could be dropped?

[2017-09-14 13:48] katevoss commented on #2060
@cjllanwarne I know we've added interpolation for certain instances, is this still relevant? I can add this to our list of doc things to fix, but I agree that adding an error/warning would be good too.

[2017-09-14 17:42] katevoss commented on #1825
@helgridly Can you (or @cjllanwarne ) explain your use case? Is this still problematic? If so, I can add it to our bucket of "WDL things to Improve".

[2017-09-14 17:54] geoffjentry commented on #2171
It was done but it wasn't really intended to be an end user product. We were using this as a way to introduce some functionality outside of Crowell to inform what we wanted to put *in* cromwell

[2017-09-14 17:54] #2171 closed

[2017-09-14 19:14] katevoss commented on #1292
After much discussion and clarification (thanks @geoffjentry ), these are the 2 use cases relating to Deleting and Cleaning up files after running a workflow:
* Use case 1: I want to clean up intermediary files from my workflow, but keep all outputs. I understand that I will no longer be able to call cache on this workflow.
* Use case 2: I want to delete all files related to my workflow, I will ne

[2017-09-14 19:18] geoffjentry commented on #1292
There really are 3.

- Remove from Cromwell but don't touch any files (for Firecloud)
- Remove from Cromwell and delete all files
- Remove from Cromwell and delete intermediate outputs

[2017-09-14 19:57] katevoss commented on #1832
Adding this to the [Runtime Attributes improvement spec](https://docs.google.com/document/d/1EcsPrmZ6hKtz9vumhdT3357e1jdhljvs6eXXeT6HTaM/edit#)

As a **workflow runner on SGE**, I want **be able to make the Docker attribute to be optional**, so that I can **avoid rewriting my WDL when I don't use Docker**.
- Effort: ** @geoffjentry What do you think? **
- Risk: **Small?**
- Business value: **Small

[2017-09-15 02:15] katevoss commented on #1842
@cjllanwarne Can you explain more about what isn't working, and what is the intended behavior?

[2017-09-15 02:16] katevoss commented on #1852
@cjllanwarne can you explain when a user would encounter this? Was it something you heard requested, or was it a "we should improve this because we know it's not as good as it could be"?

[2017-09-15 02:30] katevoss commented on #1858
@geoffjentry do you still think this would make an `actual` difference? And that it may or may not make an actual difference?

[2017-09-15 02:32] katevoss commented on #1915
@Horneth I don't believe this has been improved any further, is that true? Do you have any sense of how often users encounter this error?

[2017-09-15 02:33] katevoss commented on #2029
@kshakir did this change at all with the retries work earlier this year?

[2017-09-15 02:34] katevoss commented on #2050
@cjllanwarne any update on whether this is still an issue? I know aborts is a tangled mess, is this still part of that?

[2017-09-15 02:35] katevoss commented on #2071
@cjllanwarne so many rows! Do they still? Is this going to get in the way when we scale for CaaS?

[2017-09-15 02:37] katevoss commented on #2084
@geoffjentry can you explain more about what you mean about a worker pool executing WDL functions?

[2017-09-15 02:38] katevoss commented on #2088
@geoffjentry how much effort would this take? And how can it be automated?

[2017-09-15 02:39] katevoss commented on #2089
@Horneth I believe this is now tested as a part of restart testing, right?

[2017-09-15 02:43] katevoss commented on #2109
@geoffjentry is this Epic still useful?
@ndbolliger this Epic has tickets related to testing that I made after we talked with you the first time :)

[2017-09-15 02:48] katevoss commented on #2110
We should still do this, @geoffjentry do you have an estimate of how long this would take?

[2017-09-15 02:55] katevoss commented on #2113
@geoffjentry how much effort would this take? Can you explain more about what I meant? :)

[2017-09-15 02:55] katevoss commented on #2112
@jsotobroad I believe the integration tests you set up for Green are covered by this ticket, do you agree?

[2017-09-15 02:57] katevoss commented on #2111
@Horneth I believe this is complete now, is that right?

[2017-09-15 03:00] katevoss commented on #2146
@kcibul I'm pretty sure this is complete, aside from #2182 which I think should be dealt with separately now. Closing this.

[2017-09-15 03:00] #2146 closed

[2017-09-15 03:01] katevoss commented on #2127
@geoffjentry any new issues to add here?

[2017-09-15 03:03] katevoss commented on #2202
@geoffjentry this is still relatively low priority for the moment, correct? I vote we not build it until we have a motivating use case.

[2017-09-15 03:05] katevoss commented on #1923
@geoffjentry is this related to #2084 ?

[2017-09-15 13:24] Horneth commented on #1923
Note that this *should* go away with the womification as we should be able to funnel those GCS calls through the I/O actor which will take care of retrying appropriately

[2017-09-15 13:28] Horneth commented on #2111
What is being done is not exactly what this ticket says but it does test that at least one job is recovered properly during centaur tests.
I think this can be closed

[2017-09-15 13:31] Horneth commented on #2089
No this is not, there's some prep-work that was done to make it (maybe) possible to do through centaur but currently the same Cromwell runs before and after the shutdown so there's no database migration being tested.

[2017-09-15 13:35] Horneth commented on #1915
I don't think it's been improved no. I have no idea how often users encounter this. It could be added as a low hanging fruit for User improvement though as it's not a big deal to make the error message more useful.

[2017-09-15 13:50] geoffjentry commented on #2202
Yes. It does bubble up now and then but the things which would make it a high priority keep themselves finding themselves turned into a low priority.

It comes up often enough that we should still do it at some point just so we're ahead of the game but it's not pressing ATM

[2017-09-15 13:52] geoffjentry commented on #2084
a worker pool is a technique where you have a fixed size pool of workers taking work off a pile instead of just doing everything the moment it wants to be done. it allows you to have better control over system resources, at the cost of needing to handle "what happens if the pile itself consumes too many system resources?" (the latter is one reason why you sometimes see references to things being d

[2017-09-15 14:00] geoffjentry commented on #1809
writing all of that crap we write to logs is a nontrivial performance impact, but we like logs so we've got to do it. we have a pretty vanilla logging setup, we could be *way* smarter about things in terms of impact to performance. this would help there.

risk of dropping is small and tunable, where as one tunes the risk down so goes the performance gain (and vice versa). one of those things where

[2017-09-15 19:18] LeeTL1220 opened #2632 "Combination of read_lines and list of filenames causes erroneous file not found errors"
- SGE backend (though I bet backend does not matter)
- server mode
- cromwell 29

WDL takes in a list of filenames and scatters over a read_lines call.  Each line is a file.
If the list file has DOS line endings, read_lines preserves the `\r` character in the file name.

After running dos2unix, the issue disappeared.  Here is the error message and you can even see the appended `\r`...

[code]

Has

[2017-09-15 19:20] geoffjentry commented on #2632
"Combination of Windows user and read_lines and list of filenames ....." :)

[2017-09-15 20:57] geoffjentry commented on #2110
IMO this would be handled in spirit by that staging environment we're talking about setting up.

[2017-09-18 14:38] #2570 closed

[2017-09-18 16:26] danbills commented on #2124
Closing this as sublime text and vim-wdl were updated.  There remains an issue w/ intellij captured [here](https://github.com/broadinstitute/winstanley/issues/10) so that remains open.

[2017-09-18 16:26] #2124 closed

[2017-09-18 17:23] geoffjentry commented on #2177
@katevoss I don't know of anyone who has said "I need this" or "If it existed I'd use Cromwell". Rather it's a topic which is building more steam across the space and I'm suggesting it'd be nice to be leaders and not followers here.

[2017-09-18 18:20] geoffjentry commented on #2168
@katevoss If this is in fact something we actually want to do it'd be relatively easy to put in.

[2017-09-18 18:22] geoffjentry commented on #2283
@patmagee re use cases I wouldn't be surprised if no one internally is using `object` but I'll try to investigate

[2017-09-18 18:31] geoffjentry commented on #2283
Although now that I've said that I know that we *do* have a use case where something like this is being requested. They want a typed set of key/value pairs, but the thing that they really want is to be able to define some boundaries (e.g. "Foo" is a number between 1 and 10) and to have the static analysis fail to validate the workflow if one of these are a workflow input and the values are wrong.

[2017-09-18 19:01] patmagee commented on #2283
@geoffjentry if the use case is really intended for validation criteria on objects which the user sets, I feel the same as you, that this is an abstraction that should not be handled withing wdl/cromwell.

While I understand the use case (we also have toyed around with the idea of this as a feature request) it adds unnecessary boundaries to object types that should be handled at the level of execu

[2017-09-18 19:25] cjllanwarne opened #2634 "Allow simple string containment checks"
To make life easier for authors doing string checks like in https://gatkforums.broadinstitute.org/wdl/discussion/10354/multiple-backends-for-cromwell#latest

Eg:
[code]

[2017-09-18 19:33] kshakir commented on #2598
RE: auth
- https://docs.google.com/document/d/1tVbhtMfzPv1vjkTlpmmlrdBgqJqXEeHttgjv6MIE6eQ/edit

[2017-09-18 19:37] geoffjentry commented on #2634
@cjllanwarne Can you start filing these sorts of tickets over in the WDL repo? (and move this one)

[2017-09-18 19:39] cjllanwarne commented on #2634
Moved to https://github.com/broadinstitute/wdl/issues/133

[2017-09-18 19:39] #2634 closed

[2017-09-18 19:46] katevoss commented on #1855
@geoffjentry what do you think the effort would be to add Client APIs?

[2017-09-18 19:48] katevoss commented on #2162
@vdauwera is this still a problem? Or can it be closed?

[2017-09-18 20:09] katevoss commented on #2177
As a **user with images in Singularity**, I want **Cromwell to support using Singularity images (either via Singularity Hub and the command line, or connecting via API)**, so that I can **use Singularity images and not have to duplicate them in Docker**.
- Effort: ** @geoffjentry ? **
- Risk: **Small**
- Business value: **Medium**

[2017-09-18 20:37] vsoch commented on #2177
I can also offer to help, in whatever form is useful! If you just need to use / pull, then Singularity image support via installing it should fit the bill. Users can use Github to host images via Singularity Hub. If you want to host your own registry, then Singularity Registry is the way to go! Let me know if I can help, etc.

[2017-09-18 20:55] vdauwera commented on #2162
No idea -- I'll close and if it happens again we'll reopen.

[2017-09-18 20:55] #2162 closed

[2017-09-18 21:19] katevoss commented on #2110
Okay, in that case I'll add it to the CaaS milestone as "something to make sure is covered" by our work there.

[2017-09-18 21:21] katevoss commented on #2632
@LeeTL1220 when you get the "file not found" errors, does it fail the workflow? Or does it still continue?

[2017-09-18 21:22] katevoss commented on #1809
@geoffjentry how much effort would AsyncAppender be to implement?

[2017-09-18 21:29] geoffjentry commented on #1809
@katevoss Dunno, this would be more of a spike, thus the explore phrasing. I assume it'd be easy and then one measures if/what impact it had on anything (pro or con) which would take some time. But maybe not.

[2017-09-18 21:37] katevoss commented on #2212
@cjllanwarne the related issue #2185 is closed, is this still an issue?

[2017-09-18 21:52] cjllanwarne opened #2636 "Default interpolation of unsupplied optional should not be "None"!"
eg
[code]

[2017-09-19 00:53] CanWood opened #2637 "Socket file for cromwell server listener"
To follow up #1653, would it be possible to have cromwell server mode be configurable to listen on a socket file, as an option instead of a TCP listener?  With correct permissions, this would allow a user to run a cromwell server that's listener is in a protected location?

This would allow regular users, who would not have access to set firewall rules on hosts, the tools they need to run their ow

[2017-09-19 01:28] LeeTL1220 commented on #2632
Fails the workflow.

On Mon, Sep 18, 2017 at 5:21 PM, Kate Voss <notifications@github.com> wrote:

--
Lee Lichtenstein
Broad Institute
75 Ames Street, Room 8011A
Cambridge, MA 02142
617 714 8632

[2017-09-19 01:36] geoffjentry commented on #2637
Hi @CanWood - I don't *believe* so, at least not without radically changing all of our web code. We're using the [Akka HTTP](http://doc.akka.io/docs/akka-http/current/scala/http/) high level server API and I didn't see an ability to use such a thing. I might have missed it though.

[2017-09-19 16:45] katevoss commented on #2307
@cjllanwarne are all of the remaining issues in this epic, #2316 #2308 #2319 #2385, still to-do?

[2017-09-19 16:46] katevoss commented on #2303
@geoffjentry are there any more issues remaining after [#156](https://github.com/broadinstitute/wdl4s/issues/156) is complete?

[2017-09-19 17:10] katevoss commented on #1702
@geoffjentry is it still the case that cpu and other Int type runtime attributes are not evaluated as expressions?
@delocalizer are you still coming across this problem? Or were you able to find a workaround?

[2017-09-19 17:11] katevoss commented on #1804
@geoffjentry I believe recently released a change with "null", is that related here?

[2017-09-19 17:11] katevoss commented on #1814
@fleharty can you explain your use case a bit more? Is this something you still want?

[2017-09-19 17:13] katevoss commented on #1843
@geoffjentry how much effort would it be to include the last modified date in the hash?
@meganshand do you still want this feature? Or have you found a workaround?

[2017-09-19 17:14] katevoss commented on #1844
Great! In that case I'll close this and if you run across other problems you can reopen this (if it's related) or a new issue.

[2017-09-19 17:14] #1844 closed

[2017-09-19 17:20] katevoss commented on #1921
@LeeTL1220 I don't see any mention of SGE on [reference.conf](https://github.com/broadinstitute/cromwell/blob/1707a4a793decc3c5f93115275abb98e7890aad2/core/src/main/resources/reference.conf).

I do see SGE in [cromwell.examples.conf](https://github.com/broadinstitute/cromwell/blob/6e202ad3119d7b6329df584e267e89a04c014883/cromwell.examples.conf) but it seems like the call caching block is not backe

[2017-09-19 17:30] LeeTL1220 commented on #1921
@katevoss When I filed this issue, the examples were in the reference.conf.

If call-caching is truly not backend specific in any way, then feel free to close this issue.

[2017-09-19 17:36] meganshand commented on #1843
I'm still interested in this feature in the sense that it will prevent mistakes in the future, but it is not blocking any of my work. It's more of a QC feature.

[2017-09-19 18:01] danbills opened #2638 "Spike: Get 1st-workflow cwl running in Cromwell"
Building off #2570 I think it'd be great to keep going!

Re-iterating the goal is to identify things needed to reach a stable working state.  The deliverables are:

* issues
* PR on the `womification` branch of cromwell and/or wdl4s

[2017-09-19 18:18] blueskypie opened #2639 "making `appMainClass` optional in the `runtime` block of WDL task for cromwell Spark backend"
When using GATK spark jar with `spark-submit`, the `--class` is not mandatory. However, currently the `appMainClass` option in the `runtime` block of WDL task is mandatory.

So could `appMainClass` be changed to optional?

[2017-09-19 18:21] katevoss commented on #1883
I have transferred some comments from this issue over to the [Logs Feature Spec](https://docs.google.com/document/d/1Dc37EaPDoWXacSSzLgCdndx9zo5k6EmE5tvg-2fisPo/edit#).
Closing this in the meantime.

[2017-09-19 18:21] #1883 closed

[2017-09-19 18:22] katevoss commented on #1933
@cjllanwarne I know you've made some error message improvements, was this one you fixed? Or is it still To-Do?

[2017-09-19 18:32] blueskypie opened #2640 "spark runtime attributes in WDL task"
Currently the spark runtime block only have [four attributes](https://github.com/broadinstitute/cromwell#spark-runtime-attributes). But the `gatk-launch` actually produces many attributes for `spark-submit` command, e.g.
[code]
And there are many attributes users may add, e.g. `--driver-cores` and `--driver-memory`.

I wonder if the runtime block can be changed to something like this
[code]
So use

[2017-09-19 20:07] jainh commented on #2640
@blueskypie  is it required to repeat `--conf` ? also are you expecting `--conf` value to be in single quote ?

[2017-09-19 20:08] jainh commented on #2640
@geoffjentry something like this ` 'key=value key1=value1' ` can be received as runtime value for key `--conf`  ?

[2017-09-19 20:40] blueskypie commented on #2640
@jainh Yes, there are multiple `--conf` attributes.
Currently the `gatk-launch` does not produce the single quote; but if I run the following without single quote, it leads to error:

command:
[code]

[2017-09-20 13:09] #2556 closed

[2017-09-20 13:25] ambrosejcarr opened #2642 "local monitoring"
Currently, monitoring only functions on google VMs and not on local cromwell runs (the documentation is not clear on that).

The mint team is developing pipelines where we would like to use a monitoring script to judge ram and disk usage to better estimate runtime specifications. It would be helpful if it could be enabled for local use as well as VM usage (I hear this isn't hard).

Thanks!

[2017-09-20 15:31] #2629 closed

[2017-09-20 18:26] katevoss commented on #1935
@cjllanwarne is it still necessary to use the workaround?

[2017-09-20 18:42] LeeTL1220 opened #2643 "False alarm error in runtime block w/ coercion"
- SGE backend
- cromwell v29

The following WDL works:
[code]

BUT the below WDL gives me an error that the + operator is not supported for optional variables, please use select_first.  However, the variable final_mem is not optional:

[code]

[2017-09-20 19:50] cjllanwarne commented on #2636
False alarm, verified not a problem. Closing this issue

[2017-09-20 19:50] #2636 closed

[2017-09-20 20:35] cjllanwarne opened #2645 "Cromwell server shouldn't continue after bind fail"
If cromwell can't bind to it's tcp port, it should shut down, not continue running in zombie mode.

[2017-09-20 20:45] cjllanwarne commented on #2643
@LeeTL1220 I just ran the following WDL against `PAPI` and `Local` it worked for both, could you confirm that it fails against SGE?

[code]

[2017-09-20 20:45] cjllanwarne commented on #2643
(With no inputs json)

[2017-09-20 20:55] katevoss commented on #1566
Related Google doc on [Preflight Workflow Management](https://docs.google.com/document/d/1qYG2hff3D2ZcJWMoO4DrIjLjKYUuqKlP5p-a9_Bo988/edit#), or queuing.

[2017-09-20 21:11] #2332 closed

[2017-09-20 21:12] katevoss commented on #2276
@cjllanwarne I know you just made an update to the IntelliJ plugin, did you fix this too?

[2017-09-20 21:12] #2252 closed

[2017-09-20 21:13] danbills commented on #2276
This is fixed.

On Sep 20, 2017 5:12 PM, "Kate Voss" <notifications@github.com> wrote:

[2017-09-20 21:13] #2276 closed

[2017-09-20 21:15] katevoss commented on #2138
As a **user accessing CaaS**, I want **to query a Collection of workflows**, so that I can **view the status of many workflows at once and get the results quickly**.
- Effort: **Small to Medium** @geoffjentry do you agree?
- Risk: **Small**
- Business value: **Medium to Large**

[2017-09-20 21:44] katevoss commented on #2584
More information in this [google doc](https://docs.google.com/document/d/1rdAhp0UrbyV4UbkBcAEXVu9g1yXW8Ybn59W3PL7hnwo/edit?ts=59554862#heading=h.ti1r65e7rwbp).

[2017-09-20 22:23] jainh commented on #2640
@cjllanwarne @mcovarr  do you know if something like this is possible through runtime attributes?

[2017-09-21 00:41] delocalizer commented on #1702
@katevoss I've re-tested with release 29 and this works as expected now — and may have been working for some time, I haven't revisited this for a while. Thanks to all for the fix.

[2017-09-21 00:41] #1702 closed

[2017-09-21 12:35] #2623 closed

[2017-09-21 14:01] kshakir commented on #2598
- [x] Perform OAuth authentication (via clicky buttons in swagger, gcloud on CLI)
- [x] Register user in Sam
- [x] Submit workflow to Cromwell
- [x] Get final results from Cromwell for that workflow

[2017-09-21 14:01] #2598 closed

[2017-09-21 19:01] #2621 closed

[2017-09-21 19:41] katevoss commented on #2604
Good news! @geoffjentry is wrong, and we do not hash the cpu or memory runtime attributes. So call caching works as you want it to.

These runtime attributes are hashed (and count for call caching):
* `ContinueOnReturnCodeValidation`
* `DockerValidation`
* `FailOnStderrValidation`

[2017-09-21 19:51] cjllanwarne commented on #2604
@LeeTL1220 if you ran this in a server mode Cromwell, I suggest having a look at the Call Cache Diff endpoint to work out what really caused this call cache miss and in the mean time close this issue.

[2017-09-21 23:21] geoffjentry commented on #2640
I believe a runtime attr can be an array if that helps

[2017-09-22 00:11] jainh commented on #2640
@geoffjentry so instead of repeating `--conf` we should pass it as an array ?

[2017-09-22 13:50] LeeTL1220 commented on #2604
@cjllanwarne I was getting that from @geoffjentry  ... This issue was not due to one of my bug reports (I don't think)....

[2017-09-22 14:12] cjllanwarne commented on #2604
Oh ok, looks like it was just a bit of miscommunication. Closing this one then!

[2017-09-22 14:12] #2604 closed

[2017-09-22 14:13] cjllanwarne commented on #2569
Closing as redundant. See #2638.

[2017-09-22 14:13] #2569 closed

[2017-09-22 16:46] jsotobroad opened #2650 "Summing up Array[Floats]"
It would nice to have a way of summing up a list of floats like if you have a scatter task that you then want to gather the outputs of, its not straightforward on how you dynamically size that gather task.  This is what we currently do (and if it's stupid let us know!)

[code]

[2017-09-22 16:49] geoffjentry commented on #2650
@jsotobroad Please file this in the wdl repo, not the cromwell repo

[2017-09-22 16:57] katevoss commented on #2650
Issue moved to [broadinstitute/wdl #137](https://github.com/broadinstitute/wdl/issues/137) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-22 16:57] #2650 closed

[2017-09-22 17:14] seandavi opened #2651 "Add workflow "input" API endpoint"
To make cromwell a bit more self-sufficient as a "server", having access to `wdltool inputs` as an API endpoint would avoid needing to orchestrate a client having access to wdltool for that functionality.

[2017-09-22 17:15] seandavi opened #2652 "Add workflow "validate" as an API endpoint"
To make cromwell a bit more self-sufficient as a "server", having access to `wdltool validate` as an API endpoint would avoid needing to orchestrate a client having access to wdltool for that functionality.

This issue is a companion to #2651.

[2017-09-22 17:30] jsotobroad commented on #2650
I was told to put it here!! sorry

[2017-09-22 19:13] geoffjentry commented on #2640
@jainh what I'm saying is that I believe you could have a `conf` runtime attribute which takes an array of string (there are other array runtime attrs) and then for each element turn that into ` --conf ` argument.

If I'm right that that's possible that's also assuming a) this works for the spark-y type of stuff at all and b) conf makes sense as a runtime attribute regardless

[2017-09-22 20:18] katevoss commented on #2404
@Horneth are there any more issues for this Epic?
@gemlam3 do we have a release improvement selected for the next release?

[2017-09-22 20:20] Horneth commented on #2404
I think @danbills may have created a few new ones

[2017-09-23 02:23] blueskypie commented on #2640
Just wonder why the runtime block has to be key-value pairs? `spark-submit` has tons of attributes and new attributes may be added in the future.  Can the runtime block just be wrapped as string and passed to `spark-submit`?

If it has to be key-value pair, can the key be something like "additionalArgs" and the value be a string of containing attributes the user wants to add? for example:
`"additi

[2017-09-24 01:34] geoffjentry commented on #2652
:+1: these were removed for non-technical reasons which are no longer an issue.

Note to implementer (here and #2651) - keep in mind that we very intentionally don't process workflows (including validation) synchronously for submission so we should be careful here as well. One thought would be to put this (and the inputs functionality in #2651) in something behind the service registry. The default

[2017-09-24 12:53] seandavi commented on #2652
Thanks!

[2017-09-25 14:49] kshakir commented on #2513
Talked to Doug. "SAM" itself doesn't serve HTTPS. The proxies do. The names are set there:
- [SAM](https://github.com/broadinstitute/firecloud-develop/blob/41b78578eaadb140ccdcf86d6d44de822bf9410c/configs/sam/proxy-compose.yaml.ctmpl#L17)
- [Cromwell](https://github.com/broadinstitute/cromwell-develop/blob/d37f37cc8fd472b844a0b004178a1bfc458a3796/configs/caas/docker-compose.yaml.ctmpl#L32) (actual

[2017-09-25 15:20] #1955 closed

[2017-09-25 17:30] psfoley opened #2655 "Make tmpDir configurable in reference.conf"
In the latest releases of Cromwell (28+), the tmpDir variable is set to be created under the [current working directory of the workflow task](https://github.com/broadinstitute/cromwell/blob/master/backend/src/main/scala/cromwell/backend/standard/StandardAsyncExecutionActor.scala#L186) by default. In a cluster environment, we have observed that this limits how quickly a task can execute when using

[2017-09-25 20:25] katevoss commented on #2404
Here is the [Google Doc](https://docs.google.com/document/d/14cOvS3zdG5R_54R5PuM83piE1QjzTzCk8-NMKOx_Qp0/edit?ts=59692ac4) with existing ideas.

@danbills did you make any other issues for release improvement?

[2017-09-26 09:08] Redmar-van-den-Berg opened #2658 "run docker with --user $EUID by default"
This issue was prompted by the following thread on the forum: https://gatkforums.broadinstitute.org/wdl/discussion/10347/localization-via-hard-link-has-failed

By default, cromwell does not specify a user when running docker, which leads to two issues:

Firstly, it will run each tasks as whatever user the docker image specifies, typically 'root' as this is the default. This means that depending on

[2017-09-26 09:13] Redmar-van-den-Berg commented on #2532
Not to hijack this issue, but would it be possible to put the actual default values in the .json file? Right now, users can change an optional value, but it is very hard to figure out what the default value is. Simply putting it in the json file would save users a lot of hunting through .wdl files to figure out what a sensible value is.

[2017-09-26 13:33] katevoss commented on #1921
@geoffjentry call caching is not backend-specific, right?

[2017-09-26 13:45] geoffjentry commented on #1921
Right. At most this is a documentation issue

[2017-09-26 13:51] katevoss commented on #2327
Per @davidbernick's comments on Slack, this guide should include how Cromwell administrators should set up Authorization, Authentication, Encryption, and Persistent Databases.

This guide will be created during the [Doc-A-Thon](https://docs.google.com/document/d/1M5u-ESSpt_eM0ORsvIu2AoOtvYXImPmAKoyvXFo4p9s/edit) in November.

[2017-09-26 13:54] katevoss commented on #2308
@mcovarr and @danbills I believe you are working on remaining work 😃  if this epic is still useful then feel free to use it, but if you have other ways of grouping what you're working on, I can close this.

[2017-09-26 13:55] katevoss commented on #2163
@vdauwera is this a use case for #2652, add a validation endpoint?

[2017-09-26 14:11] katevoss commented on #2167
Closing this issue as it sounds like the result is that there is not enough of a consensus that users want this as an option. Feel free to reopen if there are additional use cases, like for "retry for X amount of time".

[2017-09-26 14:11] #2167 closed

[2017-09-26 14:12] katevoss commented on #2182
I believe the related google doc is [Slick Heartburn](https://docs.google.com/document/d/11CHJzI-rQJWJ2XZWjPo1WUr8CiqCYn_vv_a5Raprw9U/edit).
@geoffjentry have we chosen a plan of attack yet?

[2017-09-26 14:14] katevoss commented on #2190
@vdauwera can you summarize the use case in the forum?

[2017-09-26 14:28] danbills commented on #2404
Yes, I created some, I'll add to this epic

[2017-09-26 14:36] mcovarr commented on #2308
There should be more tickets here, I'll find them or start creating them. 😄

[2017-09-26 14:39] mcovarr opened #2660 "Create WomType and WomValue"
Create the `WomType` and `WomValue` that can be used by both WDL and CWL.

[2017-09-26 14:41] mcovarr commented on #2660
These types should not depend on anything WDL.

[2017-09-26 14:45] mcovarr opened #2661 "Move the WDL out of WOM"
Right now everything is dumped into the wom package as they are interdependent.

[2017-09-26 14:47] mcovarr commented on #2661
Depends on #2660

[2017-09-26 15:13] #1794 closed

[2017-09-26 15:16] jainh commented on #2640
@blueskypie  I don't know if we pass value in runtime section as this string `"additionalArgs": "--conf 'xx -Dxx' --name xx"` would be a legitimate construct , and will be parsed appropriately, @geoffjentry  correct me if i am wrong ? what @blueskypie  is asking is possible?

[2017-09-26 15:24] katevoss commented on #2248
@geoffjentry what is a bloom filter? What would be the effort to implement it?

[2017-09-26 15:24] katevoss commented on #2285
@danbills are the call logs still not localizing on TES?

[2017-09-26 15:25] katevoss commented on #2300
@cjllanwarne can you explain why users use Pair access?

[2017-09-26 15:25] katevoss commented on #2025
If this is no longer an actionable issue, I'll close it.

[2017-09-26 15:25] #2025 closed

[2017-09-26 15:26] katevoss commented on #2316
@cjllanwarne any update on this issue? Is it still to-do?
Also, what is it for?

[2017-09-26 15:26] danbills commented on #2248
Bloom filter is a test of "have we seen this before?" on a huge set.  We get one for free from Google Guava [here](https://google.github.io/guava/releases/22.0/api/docs/com/google/common/hash/BloomFilter.html)

[2017-09-26 15:29] abaumann commented on #1629
I believe it does now cover it since you can see the difference in hash per input and trace that back to a change in the contents of a file (however you might not be able to tell difference between different file path to same input vs same file path with different file contents, but you can tell it's a different file path from the inputs that were used, so I believe you have enough info to make th

[2017-09-26 15:39] katevoss commented on #2340
@IsanEmory thanks for the update, that's good to know.
@ruchim can you tell me a bit more about what's going on to cause the message to show up?

[2017-09-26 15:48] Horneth commented on #2340
There is an open ticket on the akka github for this: https://github.com/akka/akka-http/issues/907
It's out of our control AFAICT. We've taken every precaution to shutdown things in order.

The message is harmless although confusing.

[2017-09-26 15:49] mcovarr commented on #2316
Oh whoops I just duplicated this with #2660 😦  I'll close #2660 and move this to the epic.

[2017-09-26 15:49] mcovarr commented on #2660
duplicate of #2316

[2017-09-26 15:49] #2660 closed

[2017-09-26 15:53] geoffjentry commented on #2248
What @danbills said. It's a probabilistic data structure which can tell you either "I've probably seen this before" or "I've definitely *not* seen this before" in a very space & time efficient manner. So in a case like this where there are a lot of misses we could use it to do a quick "should I even bother hitting the DB" sanity test.

I'd want to see that this is actually a bottleneck before proc

[2017-09-26 16:10] helgridly commented on #1629
Yeah I suspect that's most of what we need. I can't think of any use case for this beyond that, but this was also forever ago and that particular Hussein is long since dead.

[2017-09-26 16:27] vdauwera commented on #2190
I don't have a good handle on the details but it looked like @ChrisL understood it well.

[2017-09-26 16:31] vdauwera commented on #2163
I think that's a different request. #2652 is asking to make available the wdltool syntax validation from within cromwell. This one is asking for a new type of validation, analogous in some ways to the GATK Queue "dry run" feature.

[2017-09-26 17:13] kshakir commented on #2658
At this time, changing the-user-id-running-_inside_-the-docker-container from `root`/`0` to the-user-id-running-_outside_-the-container would be a breaking change. There are probably hundreds of docker images running on Cromwell, and some unknown fraction of them may be expecting to run as docker's default root. Without more discussion with our wider user base we cannot make this change to the def

[2017-09-26 17:33] kshakir opened #2662 "When cromwell restarts with running jobs, the job start-time resets"
When cromwell restarts during long running jobs, the job metadata start-time is reset to around the time of the restart.

Users have thus been reporting that their jobs are restarting, when actually only cromwell is restarting. When the job finishes, the timing diagram has a little bit more information, as the actual length of the job is shown. But there is still room for improvement.

- [sleep.wd

[2017-09-26 19:21] kshakir commented on #2640
Hi @jainh,

The runtime section is very backend-implementation specific, but to answer your question in the abstract:

The wdl spec [says](https://github.com/broadinstitute/wdl/blob/develop/SPEC.md#runtime-section) that "Values can be any expression …". For example:

Valid wdl string:
[code]

Valid wdl array:
[code]

The following however is **invalid** according to the spec as the keys are duplic

[2017-09-26 20:07] danbills commented on #2285
I wasn't unable to test w/ latest funnel TES implementation so I suspect that not only is this not fixed but more things are broken

[2017-09-27 01:36] kshakir commented on #2548
Mostly Pro:
- more sensible default

Minor Con:
- Someone needs to define the default before the ticket can be done
- Yet another another option to document / for users to search for

[2017-09-27 02:52] kshakir commented on #1491
I can only speak for internal: More and more "Broad" users are using Grid Engine, especially [UGER](https://intranet.broadinstitute.org/bits/service-catalog/compute-resources/high-performance-computing-uger), but not with cromwell, yet.

DSP-methods have been big users of Grid Engine over the past few years, but mostly the older Sun Grid Engine, and with GATK-Queue. Meanwhile BITS is trying to get

[2017-09-27 02:54] kshakir commented on #1218
I'd call this a "medium" effort for a developer. It's not a quick fix, while not as much as an effort as "implement CWL". A couple weeks of refactoring, a round of testing and team review, then another two weeks to polish it off.

[2017-09-27 13:58] geoffjentry commented on #2548
re sensible default, I think any number which can be defended with a straight face is likely fine. it's going to be *so* YMMV that there's probably not much point in trying to find the perfect value there

[2017-09-27 16:51] katevoss commented on #2385
@Horneth I believe this is complete, right?

[2017-09-27 16:52] katevoss commented on #2396
@Horneth What is a funnel version?

[2017-09-27 17:02] jainh commented on #2640
@kshakir thank you!

[2017-09-27 17:22] danbills commented on #2396
funnel is the open source implementation of Task Execution Schemas (TES).

Seen here: https://github.com/ohsu-comp-bio/funnel

I just tested latest version and had a bad time, so this ticket is probably more work than bumping a version number.

[2017-09-27 17:55] adamstruck commented on #2396
@danbills I'd be happy to help debug any funnel issues you run into. Were you testing the v0.2 release or the latest on our master branch?

[2017-09-27 18:23] danbills commented on #2396
@adamstruck Thanks for the offer!  I was using v0.2 release, and I'm guessing it's something cromwell is doing and not you guys :).  I will look again later this week and check back in.

[2017-09-27 19:16] katevoss commented on #2548
As a **user running workflows**, I want **Cromwell to use a default job count limit if I have not configured a `concurrent-job-limit`**, so that **the backend defaults to a sensible job limit**.
* Effort: Small
* Risk: Small
* Business Value: Small to Medium

[2017-09-27 19:19] katevoss commented on #2396
As a **user running a backend via TES**, I want **Cromwell to test the latest TES version as exemplified by Funnel**, so that **regressions are caught in testing**.
* Effort: Small to Medium
* Risk: Small
* Business value: Medium

[2017-09-27 19:32] #1629 closed

[2017-09-27 19:34] katevoss commented on #2404
As a **Redteam member**, I want **to improve the Cromwell release process**, so that **it gets easier every time we release**.
* Effort: depends on the issue
* Risk: Small, depends on the issue
* Business value: Medium

[2017-09-27 19:38] katevoss commented on #2354
@geoffjentry anything else here? If not, feel free to close.

[2017-09-27 19:39] katevoss commented on #2273
@LeeTL1220 have you noticed this problem again recently?

[2017-09-27 19:40] katevoss commented on #2400
@Horneth is this issue to auto-release wdltool when we release Cromwell?

[2017-09-27 19:42] katevoss commented on #2319
@mcovarr Is this something you and @danbills are working on right now?

[2017-09-27 19:51] LeeTL1220 commented on #2273
If the first listed task is a sub workflow, then it does not expand in 100% of my runs.

[2017-09-27 19:52] LeeTL1220 commented on #2273
Regardless of back-end and with latest Cromwell

[2017-09-27 19:55] katevoss commented on #2273
@geoffjentry do you have an idea of the effort involved to fix this? I know it's a bit unknown because it's a bug, but if you have a vague sense that would be great.

[2017-09-27 20:01] katevoss commented on #2333
This is a dupe of #637, closing this.

[2017-09-27 20:01] #2333 closed

[2017-09-27 20:06] katevoss commented on #2415
As a **user aborting workflows**, I want to **get a 403 status after aborting a workflow**, so that **I know that my workflow is going to abort**.
* Effort: Small
  * Decide whether we want to keep the 403 status
  * @geoffjentry what does the 403 status gain us?
* Risk: Small
* Business value: Small

[2017-09-27 20:09] katevoss commented on #2250
@chapmanb could you explain a bit more about what you would use objects with files for?
@geoffjentry what effort would this take to implement?

[2017-09-27 20:10] katevoss commented on #2329
@Horneth can you explain more about what the problem is with the Docker hash lookups?

[2017-09-27 20:11] katevoss commented on #2378
@danbills can you explain more about when the error occurs? Do you have an idea of how much effort it would take to fix?

[2017-09-27 20:12] geoffjentry commented on #2250
I think this should be held off on. Will explain in person.

[2017-09-27 20:39] katevoss commented on #2426
@danbills does the following sound accurate to you?

As a **user running workflows on Pipelines API**, I want **Cromwell to notify me when it hits the limit for retries**, so that **I know why my workflow failed**.
* Effort: Small
* Risk: Small
* Business value: Small to Medium

[2017-09-27 23:24] geoffjentry commented on #2415
It allows a user to understand that they're requesting to abort something which is already terminal. Whether or not that's useful is a matter of debate. Clearly someone does because it was put in by someone. I say that it's "useful" but am using quotes because I doubt anyone is ever going to act on knowledge.

I don't recall if it returns 200 or just a generic error (I could dig it up if it matter

[2017-09-27 23:47] mcovarr commented on #2415
But someone is one of our most important stakeholders! 😛

Totally agree with closing this, we can work out the desired behavior when we fix abort in Cromwell 50.

[2017-09-28 02:12] geoffjentry commented on #2415
IIRC it's pretty non-obvious that that return code is impossible to trigger. I'll open a PR w/ a code comment in the appropriate place and close this. It'll be much more likely that we come across it then than this ticket anyways.

[2017-09-28 02:12] #2415 closed

[2017-09-28 14:13] danbills commented on #2319
We are currently focused on the CWL side.  I think this is mis-labeled.

[2017-09-28 14:14] danbills commented on #2319
i.e. it is labeled _CWL_ and should not be.

[2017-09-28 15:39] katevoss commented on #2425
@geoffjentry sounds like this is more of a WDL feature request, shall I move it to the WDL repo?

[2017-09-28 15:40] katevoss commented on #2445
@cjllanwarne hopefully there will be less weeping with the graceful shutdown, @Horneth do you agree that this will be improved?

[2017-09-28 15:41] katevoss commented on #2446
@cjllanwarne I agree this sounds un-ideal. Maybe we should pass this by the WDL Focus group and see if they agree with the order of operations?

[2017-09-28 15:43] katevoss commented on #2451
Sounds like there's nothing else to do here, closing this.

[2017-09-28 15:43] #2451 closed

[2017-09-28 16:05] geoffjentry commented on #2425
![628b747f8ccdfb757062f36a27eedecfc2295f515c0586e05fbfb0620c0571a2](https://user-images.githubusercontent.com/961771/30977362-51c7e54c-a445-11e7-829e-37880ac9b9d1.jpg)

[2017-09-28 16:07] #2425 closed

[2017-09-28 16:07] katevoss commented on #2425
Issue moved to [broadinstitute/wdl #139](https://github.com/broadinstitute/wdl/issues/139) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-28 19:36] Horneth commented on #2329
We currently support dockerhub, google container registry and quay as far as looking up hashes is concerned. With the way things are currently, if one of those services goes down or has a high error rate forcing us to retry a lot, all lookups will potentially be slowed down even if they target a service that is doing fine.

[2017-09-28 19:37] Horneth commented on #2400
yes

[2017-09-28 19:40] danbills commented on #2378
I was relaying information from the forum and am not familiar enough with the issue to describe the situation or effort to fix.  Perhaps @Horneth or @mcovarr could shed some light?

[2017-09-28 19:56] Horneth commented on #2378
This PR probably helped https://github.com/broadinstitute/cromwell/commit/90f1e17b43d27fe0ccb794ff36d367ca19a41966
by not checking stderr if we don't need to.

Increasing the number of IO retries won't change anything because we don't retry on a "FileNotFound".

I'm wondering if this is not the same thing we're seeing in travis sometimes where stdout is empty, but this time worse (the file doesn't

[2017-09-28 20:25] #2432 closed

[2017-09-28 20:39] katevoss commented on #2036
@geoffjentry what kind of effort do you think it would take to color-code parts of the logs?
Obviously we would not get it all done with the first go, but I bet @knoblett could list the top 5 things she would like colored for easier logging.

[2017-09-28 20:40] katevoss commented on #2210
@geoffjentry do you have any thoughts on this?

[2017-09-28 22:13] geoffjentry commented on #2036
Color coding is easy to add. Be careful what you wish for.

This is only actually viable in that world where we have multiple logs for multiple types of people. We've already intentionally removed color highlighting from server mode's logs

[2017-09-28 22:15] geoffjentry commented on #2446
Without going to deep into what this means (the key people know what this means), this is no longer a topic for the WDL Focus Group.

[2017-09-28 22:16] geoffjentry commented on #2446
This might not be an issue for the wdl focus group (in favor of upcoming situations). It depends on if this starts becoming more of a Cromwell implementation thing or a WDL thing. I think it is purely the latter, and if that's the case it should be moved to the wdl repo and left for that triage.

[2017-09-28 22:17] geoffjentry commented on #2273
I can't even begin to opine on the difficulty of fiddling w/ the timing diagram. That's all a bunch of black arts as far as I'm concerned.

@cjllanwarne ?

[2017-09-28 22:19] #2354 closed

[2017-09-28 22:24] Horneth commented on #2273
I fixed something recently where multiple nested levels of sub-workflows would not expend properly. I don't know if this is the same thing though

[2017-09-29 01:45] patmagee commented on #2446
@geoffjentry I agree with you. This is a specification issue, precedence should be dictated at the language level and not be implementation specific.

As to the actual use case, I agree this would be a good feature to have but the semantics of it I think could probably be discussed over on the wdl page. Ie should setting default values have a different look and feel then an assignment. Something l

[2017-09-29 08:30] Redmar-van-den-Berg commented on #2658
I have changed it in my local config, thanks. I should add that this appears to work even for images that do not have user $EUID configured inside the docker, but there could be images that expect the user to be root to function.

[2017-09-29 12:12] geoffjentry commented on #2658
Thanks redmar. I'll admit that this is coming from a stance of abundance of caution, but we're intrigued by the idea.

Let's leave this open a bit, I'll try to investigate some more over the weekend

[2017-09-29 14:13] geoffjentry commented on #2446
@patmagee Was "All execution engines s" a partial thought or one that was meant to be removed? :)

[2017-09-29 17:15] katevoss commented on #2450
@geoffjentry has this come up recently?

[2017-09-29 17:16] katevoss commented on #2452
@geoffjentry how is this different from #2450 ?

[2017-09-29 17:16] katevoss commented on #2440
@geoffjentry why should it be renamed? And moved?

[2017-09-29 17:17] katevoss commented on #2436
@geoffjentry was this added by @cjllanwarne ever? I thought he did something similar.

[2017-09-29 17:18] katevoss commented on #2434
@geoffjentry what was the effect on performance with `mapValues`? What would users (FireCloud or individual Cromwell users) notice?

[2017-09-29 17:20] katevoss commented on #2429
@geoffjentry Is the use case that a Cromwell dev updated liquidbase and a user needs to migrate? How much effort would this take?

[2017-09-29 17:20] katevoss commented on #2423
@geoffjentry what is Circe? What effort would this take?

[2017-09-29 17:20] Horneth commented on #2436
@cjllanwarne added [`if then else` in expressions](https://github.com/broadinstitute/wdl/blob/develop/SPEC.md#if-then-else).
 This is asking for flow control `else` which we don't have.

[2017-09-29 17:22] katevoss commented on #2420
@geoffjentry Let's add this to the Doc-A-Thon! Adding it to [the plan here](https://docs.google.com/document/d/1M5u-ESSpt_eM0ORsvIu2AoOtvYXImPmAKoyvXFo4p9s/edit#).

[2017-09-29 17:24] katevoss commented on #2420
As a **user running workflows**, I want to **know how to expandSubworkflows by reading the documentation**, so that **I know when to use this feature**.

Effort: Small
Risk: Extra-Small
Business value: Medium

[2017-09-29 18:55] geoffjentry commented on #2440
Because right now there is a single implementation and it's just called "MetadataService" and hangs out at the top level. So what happens a month from now when there are > 1 metadata service options one can use? It's confusing.

[2017-09-29 19:56] patmagee commented on #2446
@geoffjentry it was partial thought :) My mind can be scattered. Ive update the comment

[2017-09-29 21:08] katevoss commented on #2414
@antonkulaga can you tell me more about your use case for the tail function?
@geoffjentry what would be the effort to add this?

[2017-09-29 21:09] katevoss commented on #2410
@antonkulaga can you tell me more about your use case for zipping all of your files together?

[2017-09-29 21:09] katevoss commented on #2411
@geoffjentry what would be the effort for testing this?

[2017-09-29 21:10] katevoss commented on #2409
@geoffjentry what do you think of Kris's suggestion?

[2017-09-29 21:13] katevoss commented on #2417
@geoffjentry is this still relevant? If so, can you explain it more?

[2017-09-29 21:13] katevoss commented on #2418
@geoffjentry is this still relevant? It so, can you explain further?

[2017-09-29 21:13] katevoss commented on #2403
@Horneth what else needs to happen for the release to be a push button process?

[2017-09-29 21:14] katevoss commented on #2402
@Horneth why is it useful to have one github account for the release?

[2017-09-29 21:14] katevoss commented on #2401
@Horneth is this a reminder, or is there something that needs to be added or changed here?

[2017-09-29 21:16] katevoss commented on #2365
@seandavi are you still interested in being able to limit CPU and memory when running on local?
@geoffjentry what would be the effort and risk for adding these parameters?

[2017-09-29 21:16] Horneth commented on #2445
Yes this should be improved in Cromwell 30

[2017-09-29 21:16] geoffjentry commented on #2409
It's IMO probably the right call. I've kept this to a dull roar until internally we decide if we're going to stick w/ swagger or go with something like proto

[2017-09-29 21:17] Horneth commented on #2401
It's a release improvement ticket. Currently the release WDL creates a github release even if the build fails on the master branch right after merging

[2017-09-29 21:18] Horneth commented on #2402
Because the alternative is to use personal github tokens which is not great from a security and re-usability perspective

[2017-09-29 21:19] katevoss commented on #2319
@danbills so it is still to-do? It's fine if it's labeled CWL, it's part of that general effort. I just want to understand whether it is completed or not.

[2017-09-29 21:22] seandavi commented on #2365
It would be a nice feature, particularly for folks with a single large box,
but it is not something that I see myself using regularly, to be honest.

On Fri, Sep 29, 2017 at 5:16 PM, Kate Voss <notifications@github.com> wrote:

--
Sean Davis, MD, PhD
Center for Cancer Research
National Cancer Institute
National Institutes of Health
Bethesda, MD 20892
https://seandavi.github.io/
https://twitter.com

[2017-09-29 21:22] Horneth commented on #2403
Figuring that out is what this ticket is for :)
Right now it involves at least having a cromwell available, a github access token, running the release WDL, monitoring that everything goes well and that the WDL succeeds. This could be automated using jenkins for example.

[2017-09-30 00:04] antonkulaga commented on #2410
We have RNA-Seq and de-novo assembly pipelines with many sub-workflows, forgetting to include a file or two is a common mistake that people make in the lab. Another inconvenience is that we have sub workflows in subfolders, and we do not know how to both keep references (incl. subfolders) to sub-workflows in the main WDL script (so IntelliJ idea WDL plugin can check that they are correct) but at t

[2017-09-30 03:00] antonkulaga commented on #2414
In most of RNA-Seq you have tsv where first cell is condition and all other cells are samples you should compare. Tail function allows to extract only samples from the condition raw, so I can pass them for further processing.

[2017-09-30 13:26] geoffjentry commented on #2434
mapValues recomputes itself every time it is accessed. As stated in the original ticket, we have had fairly serious performance problems which traced back to the usage of mapValues.

[2017-09-30 13:28] geoffjentry commented on #2446
@patmagee Gotcha & totally agree. My own wishy washiness from before was due to misunderstanding the ticket at first and then realizing what it meant halfway through. You'd think I could have just gone back and reworded, but no. Always forward. :)

[2017-09-30 15:23] geoffjentry commented on #2590
Useful tidbit to note, [this is how you signal failure due to unimplemented functionality](https://github.com/common-workflow-language/common-workflow-language/pull/278/files#diff-ee814a9c027fc9750beb075c283a973cR49) - which I believe means that one can still be "green" on CI

[2017-10-02 18:42] mcovarr commented on #2638
https://github.com/broadinstitute/wdl4s/blob/develop/cwl/src/test/resources/three_step.cwl#L59

😮

[2017-10-02 21:23] geoffjentry opened #2669 "Allow for user provided service accounts"
For now treat this like refresh tokens, e.g. encrypted, deleted afterwards, etc.

user provides json key via workflow options.

[2017-10-03 13:52] Horneth opened #2670 "Allow for YAML input files"
There's currently a check at the API level that the input file is valid JSON, which is not necessarily going to be the case for CWL workflows. For those, we should allow yaml format.

[2017-10-03 16:50] dstreett opened #2671 "Error when POST and GET are done too close together"
Hi there,

There is an issue posting a cromwell job, getting the id from the response, and then trying to run a GET call too soon after the initial post. Here is a simple example.

`curl -v "localhost:8000/api/workflows/v1" -F workflowSource=@simple.wdl -F workflowInputs=@simple.json | python -c 'import json,sys,time;obj=json.load(sys.stdin);print obj["id"];' | xargs -I {} curl "http://localhost:8

[2017-10-03 16:55] geoffjentry commented on #2671
Hi @dstreett - what you're seeing is an artifact of the fact that where the read API is reading from is separate from the internal database and it takes a moment for that propagation to happen.

You can improve the situation by tweaking the config setting `services.MetadataService.config.metadata-summary-refresh-interval`, the default is 2 seconds. However there'll always be a non-zero time differ

[2017-10-03 18:31] jainh commented on #2640
@blueskypie create this [PR](https://github.com/broadinstitute/cromwell/pull/2672) , any suggestion ?

[2017-10-03 19:01] danbills commented on #2524
A nominal implementation has been committed to wdl4s and will be iterated upon, thus I am closing this.  The wld4s epic 159 (unfortunately unlinkable!) covers the effort to get full CWL expression support.

[2017-10-03 19:01] #2524 closed

[2017-10-04 05:13] Masber opened #2673 "cromwell and GATK4"
Dear cromwell team,

We are trying to setup a test environment with GATK4 and cromwell for our local users.

I tested the helloHaplotypeCaller.wdl in the data bundle but it is giving the following error:

[code]

Ans this is the output from the stderr file
[code]

Any advise?

Thank you very much

[2017-10-04 13:17] geoffjentry commented on #2673
Hi @Masber - apologies as I just said the same thing over in Gitter but this is a question for the [GATK forum](https://gatkforums.broadinstitute.org/gatk/categories/ask-the-team) - whatever is going on here is (probably) not an issue with Cromwell but something regarding the interaction with the WDL from the GATK group.

[2017-10-04 14:35] geoffjentry commented on #2658
Hi @Redmar-van-den-Berg - I'm falling back to the "abundance of caution" stance but am still intrigued. I'm going to close the PR for now but leave this issue open. For posterity's sake it's PR #2659 ... we can open it back up once we verify what impact this does(n't) have.

[2017-10-04 15:09] mcovarr opened #2675 "Unify Cromwell, wdl4s and lenthall"

[2017-10-04 20:49] bradtaylor commented on #1861
Hi Guys, we're getting more heat on this issue in firecloud. See:
https://gatkforums.broadinstitute.org/firecloud/discussion/comment/42587#Comment_42587

@katevoss FYI

[2017-10-05 14:13] katevoss commented on #1861
@bradtaylor is this blocking people from running workflows? How often is it occurring? Is there a workaround?

@geoffjentry or @kshakir (our current bug rotator), do you have an idea of the effort to fix this?

[2017-10-05 14:17] abaumann commented on #1861
just want to also be sure to make it clear there are more issues related to that forum post than this specific issue - this one is on making sure the task statuses reach a final state when the workflow ends in a terminal state - that's different than aborts not working - both are an issue, but different

[2017-10-05 14:22] abaumann commented on #1861
I don't think these issues block anybody - they just lead to constant questions and give a bad impression of our reliability.  People are often worried they are still spending money because it looks that way.

I could do a query to probably find how often aborts don't work if that helps.

There isn't a workaround to either issue - only that we tell users it's ok after we dig in to find out that it

[2017-10-05 14:42] Horneth commented on #1861
Even though it's not technically the same, we talked about `ContinueWhilePossible` as a possible temporary workaround for this. Has it been rejected since ?

[2017-10-05 14:52] abaumann commented on #1861
right now that's not the default in FC, nor do we expose it in the UI - people have used it and it does help for some circumstances where you need it, but it seems like overkill when all you want is reliable statuses.  it also won't help with the aborting issue which is what the gatk post was

[2017-10-05 15:22] katevoss commented on #1861
@bradtaylor can you clarify which issue is more concerning? Is it the aborting issue or the status updating?

[2017-10-05 16:46] kshakir commented on #1861
May also be the cause of / related to https://github.com/broadinstitute/cromwell/issues/2526

[2017-10-05 16:56] kshakir commented on #1861
There are two tables in the cromwell database that are out of sync. Unofficially, if one knows what they're looking for, one can edit the values directly in the database. Often the case is the `WorkflowStoreEntry` doesn't have a record for the workflow, thus it cannot be aborted or resumed-on-restart, yet the last row in `MetadataEntry` says the workflow is still `Running`.

A "reconciler" could w

[2017-10-05 19:10] kcibul opened #2677 "Support http(s) imports"
Allow users to write

import "http://foo.bar/my.wdl" as imp

Should support http / https

@katevoss -- I'm sure you've heard more requirements, just wanted to put a placeholder in here

[2017-10-05 21:02] katevoss commented on #2677
As a **user running subworkflows**, I want to **be able to reference and import workflows by URL**, so that I **can use subworkflows within my main workflow**.

@kcibul or @geoffjentry will this feature be WDL-specific? Or does CWL have a concept of subworkflows too?

[2017-10-05 21:04] geoffjentry commented on #2677
Cwl has a while section about imports in their spec

[2017-10-05 23:31] mcovarr opened #2679 "Unbreak release WDL after Cromwell unification"
Because the unification most definitely will break it.

[2017-10-06 11:11] CarlosBorroto commented on #2190
Found the forum entry looking for a solution for mounting a docker volumen.

In my case I would like to run Ensembl VEP with Cromwell/WDL. Using VEP in cache/offline mode has many advantages, among them much better performance. When running VEP in cache mode it is necessary to have a large set of files locally installed. Downloading these files using the provided INSTALL.pl will be very inefficien

[2017-10-06 13:30] kcibul commented on #2677
This isn't done -- there's a Cromwell PR required as well (and probably a centaur one for tests)

[2017-10-06 20:33] tmm211 commented on #1861
This was reported by another [FireCloud user](https://gatkforums.broadinstitute.org/firecloud/discussion/10352/removing-workflows-stuck-in-the-submitted-or-aborting-state#latest)
Is there a way that we can force these jobs into Aborted so that the workspace stops appearing as "Running"

[2017-10-06 20:52] abaumann commented on #1861
Yes we can update the database manually but I hesitate to do that unless it's really serious.  Since this specific ticket is not about aborts, should this be moved to a ticket about aborts?

[2017-10-06 21:01] dheiman opened #2681 "RFE: call_caching_placeholder.txt should contain details of the cache hit."
I have a workflow where one of the inputs was created by a brand-new version of a tool, but it had a cache-hit for a run from 2 months ago. I can only assume that this is because the new input file had the exact same hash as the old input file, but because the google bucket the old input file was in is gone, I have no way to confirm this.

It seems like it would be fairly trivial, and extremely he

[2017-10-08 10:00] Horneth opened #2682 "Job output evaluation should be left folded instead of traversed"
Output declarations can be reference each other as long as there is no "forward reference`
The OutputEvaluator should take this into account and foldLeft the list of outputs instead of traversing it.

[2017-10-09 06:51] #2673 closed

[2017-10-10 13:19] #2669 closed

[2017-10-10 15:34] #2675 closed

[2017-10-10 16:46] katevoss commented on #2681
@geoffjentry  is it possible to call cache when the original input no longer exists?
@dheiman have you looked at the [call cache diff endpoint](https://github.com/broadinstitute/cromwell#get-apiworkflowsversioncallcachingdiff)? This is not available in FireCloud but it may have more information about why a workflow cached (or did not).

[2017-10-10 16:48] tmm211 commented on #1861
Sure. What's the ticket number? The issue this user posted is about both submitted workflows and aborted workflows getting stuck. I asked him/her to abort the submitted ones so that the workspace would stop showing as Running, but that didn't work. Can we confirm that they aren't getting charged for machines not aborting that they have requested to abort?

[2017-10-10 16:59] dheiman commented on #2681
@katevoss, it not being available in FireCloud is my high-level issue - it turns out that since FireCloud currently implements Cromwell 28, [call_caching_placeholder.txt gets placed, even though it is actually cache-by-copy rather than reference](https://gatkforums.broadinstitute.org/firecloud/discussion/10282/confusing-file-left-in-call-cached-execution-directory).

This makes me believe that it

[2017-10-10 17:01] katevoss commented on #2446
As a **user running workflows**, I want **Cromwell to follow this order for looking at inputs: Inputs provided by the inputs JSON, Inputs specified explicitly by call, and then the default value in the task**, so that **Cromwell is processing the inputs that I want it to**.

- Effort: @geoffjentry any thoughts?
- Risk: Small
- Business value: Small to Medium
  - @cjllanwarne have any users asked o

[2017-10-10 17:16] geoffjentry commented on #2446
@katevoss This is purely a WDL specification thing.

[2017-10-10 17:39] abaumann commented on #1861
Don't know the ticket for aborts - but yes we can confirm individual submissions/workflows, however it's tedious process and you need an admin to do it.  Almost every time I've checked it's just a matter of statuses being incorrect and not that the machine is still running

[2017-10-10 18:10] cjllanwarne commented on #2681
@dheiman for what it's worth, "why a call was cached" is very conservative, so you can be assured that yes, your file's hash exactly matched the old input. As indeed did every other input value, the command string, the relevant workflow and runtime options, and the docker image specified.

If anything wasn't the same, Cromwell wouldn't have used the cached result.

[2017-10-10 18:11] cjllanwarne commented on #2681
@katevoss we can reuse the result even if the original input file is gone, because we record the hash of the file at execution time.

That way, even if the old input file is modified, we won't call-cache unless the new input file matches what was used to generate the original result.

[2017-10-10 21:45] ambrosejcarr opened #2685 "Use of > 32 bit Int as Int input results in silent overflow"
Running a WDL and specified an Int of value 10000000000 (10 billion) in my inputs. Cromwell inserted a value of -727379968 into a workflow task. I assume this means a 32 bit int is being used in Cromwell.

I think users would appreciate it if this behavior is documented (I could not find it in the spec). Additionally, users would probably appreciate being able to use 64 bit ints in order to repres

[2017-10-11 13:21] #1058 closed

[2017-10-11 13:38] #2682 closed

[2017-10-11 13:43] katevoss commented on #1312
As a **user running workflows**, I want to **be able to specify the backend in workflow options**, so that **Cromwell only uses the default backend when no other is specified**.

- Effort: @geoffjentry what do you think the effort will be?
- Risk: Small
- Business value: Small, for now
   - This may change as Cromwell supports more backends and more users operate in a multi-backend environment

[2017-10-11 13:47] geoffjentry commented on #1312
it's trivial to do.

there's a slight risk involved in that theoretically some WDL would be broken but there's a 100% chance those WDLs become broken in the future anyways.

[2017-10-11 14:50] curoli opened #2688 "Switch GraphNode equality to reference identity"
A reference to [former wdl4s issue 248](https://github.com/broadinstitute/wdl4s/issues/248).

[2017-10-11 15:04] cjllanwarne opened #2690 "String? type in output section"
Fix the issue raised in https://gatkforums.broadinstitute.org/wdl/discussion/10462/string-type-in-output-section#latest

[2017-10-11 15:25] katevoss opened #2691 "method to return workflow with imports resolved, as a String"
@delocalizer commented on [Thu Oct 20 2016](https://github.com/broadinstitute/wdl4s/issues/40)

The use case is described here:
https://gitter.im/broadinstitute/cromwell?at=580859f980020cc608f8996a
and @cjllanwarne example describes exactly the kind of result we'd be after:
https://gist.github.com/cjllanwarne/31875cff989de8114751183ff09b202f
Thanks!

---

@ruchim commented on [Wed Nov 09 2016](htt

[2017-10-11 15:27] katevoss commented on #2691
From Gitter:

@cjllanwarne your gist is no longer available, do you remember what you wrote?

[2017-10-11 15:38] katevoss opened #2692 "Call input validation expects LHS of MemberAccess in the input mappings to be Calls, but now they can be scatter items too if the item is a pair."
@Horneth commented on [Wed Nov 16 2016](https://github.com/broadinstitute/wdl4s/issues/48)

---

@meganshand commented on [Wed Nov 16 2016](https://github.com/broadinstitute/wdl4s/issues/48#issuecomment-261072803)

The attached wdl results in an error message:

`Workflow has invalid declarations: : AggregatedException: : VariableNotFoundException: Variable 'generateArray' not found`

[scratch_3.wd

[2017-10-11 15:39] katevoss commented on #2692
@Horneth can you explain the problem?

[2017-10-11 15:40] katevoss opened #2693 "cross-publish to ScalaJS"
@antonkulaga commented on [Thu Feb 16 2017](https://github.com/broadinstitute/wdl4s/issues/86)

If there will be ScalaJS support, then it will be possible to do things like validation of wdl4s directly in the browser

---

@geoffjentry commented on [Thu Feb 16 2017](https://github.com/broadinstitute/wdl4s/issues/86#issuecomment-280335418)

that's an interesting point. My take is that I have nothin

[2017-10-11 15:40] katevoss commented on #2693
@geoffjentry have your thoughts on this changed since February? Does this still apply with wdl4s existing in Cromwell?

[2017-10-11 15:58] cjllanwarne commented on #2691
No, but I could come up with an example:
- Here's a before.wdl:
[code]

- And now `after.wdl`:
[code]

I'm not 100% sure that this `namespace` syntax actually exists in WDL but would probably be necessary to make this work (unless we also go through and remove workflows from the imports and rename the calls from `call foo.footask` to `call footask`.

Another consideration, if we have multiple impo

[2017-10-11 16:01] curoli opened #2694 "Switch WOM GraphNode.equals and hashCode to object identity"
@curoli commented on [Wed Oct 04 2017](https://github.com/broadinstitute/wdl4s/issues/248)

Currently, subclasses of WOM GraphNodes are case classes which auto-generate equals and hashCode based on components. This doesn't work well for two reasons.
First, WOM Graph assumes object identity and will fail if a node is replaced by one that is equal based on components. The code is already in several

[2017-10-11 16:03] curoli opened #2695 "Switch WOM GraphNode.equals and hashCode to object identity"
@curoli commented on [Wed Oct 04 2017](https://github.com/broadinstitute/wdl4s/issues/248)

Currently, subclasses of WOM GraphNodes are case classes which auto-generate equals and hashCode based on components. This doesn't work well for two reasons.
First, WOM Graph assumes object identity and will fail if a node is replaced by one that is equal based on components. The code is already in several

[2017-10-11 16:07] katevoss opened #2696 "WdlExpression via FileEvaluator doesn't parse some expressions as expected"
@kshakir commented on [Fri Feb 24 2017](https://github.com/broadinstitute/wdl4s/issues/90)

The `FileEvaluatorSpec` contains a number of test expressions to search for files-to-localize. This includes a new test for [indexing a glob](https://github.com/broadinstitute/cromwell/issues/1980), i.e. `glob("*.txt")[0]`.

Ideally, the following additions to the above spec would all generate the correct l

[2017-10-11 16:08] katevoss opened #2697 "WdlExpression via FileEvaluator doesn't parse some expressions as expected"
@kshakir commented on [Fri Feb 24 2017](https://github.com/broadinstitute/wdl4s/issues/90)

The `FileEvaluatorSpec` contains a number of test expressions to search for files-to-localize. This includes a new test for [indexing a glob](https://github.com/broadinstitute/cromwell/issues/1980), i.e. `glob("*.txt")[0]`.

Ideally, the following additions to the above spec would all generate the correct l

[2017-10-11 16:08] katevoss opened #2698 "WdlExpression via FileEvaluator doesn't parse some expressions as expected"
@kshakir commented on [Fri Feb 24 2017](https://github.com/broadinstitute/wdl4s/issues/90)

The `FileEvaluatorSpec` contains a number of test expressions to search for files-to-localize. This includes a new test for [indexing a glob](https://github.com/broadinstitute/cromwell/issues/1980), i.e. `glob("*.txt")[0]`.

Ideally, the following additions to the above spec would all generate the correct l

[2017-10-11 16:15] #2696 closed

[2017-10-11 16:15] #2697 closed

[2017-10-11 16:32] curoli commented on #2688
Duplication of #2694

[2017-10-11 16:32] #2688 closed

[2017-10-11 16:32] curoli commented on #2695
Duplication of #2694

[2017-10-11 16:32] #2695 closed

[2017-10-11 16:41] katevoss commented on #2698
@kshakir can you explain what the problem is?

[2017-10-11 16:42] katevoss opened #2699 "wdl4s not erroring when a scatter variable is missing"
@kshakir commented on [Mon Feb 27 2017](https://github.com/broadinstitute/wdl4s/issues/92)

The following wdl currently parses in wdl4s without error, later causing an error within cromwell.

[code]

See https://github.com/broadinstitute/cromwell/issues/2020 for more info of cromwell patches, including a centaur test, that may be updated or removed if this is fixed in wdl4s.

[2017-10-11 16:42] katevoss commented on #2699
@kshakir Will this still be an issue now that WDL4S is in Cromwell?

[2017-10-11 16:43] katevoss opened #2700 "wdl4s not erroring when an output variable is missing"
@kshakir commented on [Mon Feb 27 2017](https://github.com/broadinstitute/wdl4s/issues/93)

The following wdl currently parses in wdl4s without error, later causing an error within cromwell.

[code]

See https://github.com/broadinstitute/cromwell/issues/2020 for more info of cromwell patches, including a centaur test, that may be updated or removed if this is fixed in wdl4s.

[2017-10-11 16:43] katevoss commented on #2700
@kshakir same question as #2699 , is this still a problem now that WDL4S is in Cromwell?

[2017-10-11 16:46] katevoss opened #2701 "Attempting to load a WDL containing imports fails the wrong way if you don't supply any import resolvers"
@helgridly commented on [Thu Apr 13 2017](https://github.com/broadinstitute/wdl4s/issues/103)

I'm loading a WDL in wdl4s using `WdlNamespaceWithWorkflow.load(my_wdl, Seq())` -- i.e. passing no import resolvers. If the WDL contains imports, I'd expect it to fail and complain that it can't resolve the imports because I haven't specified any resolvers. (In the current code, that'd be [here](https://

[2017-10-11 16:46] katevoss commented on #2701
@helgridly is this still a non-urgent enhancement request?

[2017-10-11 16:47] katevoss opened #2702 "Allow arrays to be concatenated, flattened"
@cjllanwarne commented on [Mon May 22 2017](https://github.com/broadinstitute/wdl4s/issues/111)

egs:
[code]

[2017-10-11 16:47] katevoss commented on #2702
@cjllanwarne can you explain more about what this issue is for?

[2017-10-11 16:48] katevoss opened #2703 "Bad errors reported validating null.wdl"
@cjllanwarne commented on [Mon May 22 2017](https://github.com/broadinstitute/wdl4s/issues/112)

This problem presents itself when using `wdltool` but it looks like it's a match error coming from inside `WDL4S`

null.wdl:
[code]

On validate:
[code]

We can see more details when we try to graph it:
[code]

[2017-10-11 16:49] katevoss commented on #2703
@cjllanwarne can you explain more about what the problem is?

[2017-10-11 17:00] katevoss opened #2704 "Remove AST's from Workflow object"
@ruchim commented on [Wed May 31 2017](https://github.com/broadinstitute/wdl4s/issues/114)

[2017-10-11 17:00] katevoss commented on #2704
@ruchim is this still a to-do with WDL4S in Cromwell repo?

[2017-10-11 17:04] katevoss opened #2705 "Add a blanket match in Value evaluation to cover for unexpected cases"
@Horneth commented on [Thu Jun 08 2017](https://github.com/broadinstitute/wdl4s/issues/119)

[2017-10-11 17:06] katevoss commented on #2705
@Horneth can you explain what this issue is for? Is it still relevant in Cromwell?

[2017-10-11 17:09] katevoss opened #2706 "CWL Parser support Any types"
@danbills commented on [Wed Jun 28 2017](https://github.com/broadinstitute/wdl4s/issues/122)

The CWL specification declares an "Any" type which does not have an analogous JSON type.  It seems it can support any JSON value be it an object, String, etc.

[2017-10-11 17:10] katevoss commented on #2706
@danbills is there an existing issue for this in Cromwell? Or is it specific to wdl4s?

[2017-10-11 17:12] katevoss opened #2707 "Enable linting compiler options"
@geoffjentry commented on [Wed Jul 05 2017](https://github.com/broadinstitute/wdl4s/issues/130)

While upgrading Cromwell to 2.12 I was introduced to how much more thorough the various linting compiler flags were. I had to figure out how to disable some of the new behavior because some of the ills it was trying to prevent were far too ingrained in Cromwell's being to fix.

That experience was eye

[2017-10-11 17:12] katevoss commented on #2707
@geoffjentry is this still relevant in cromwell?

[2017-10-11 17:13] katevoss opened #2708 "Web endpoints no longer returning pretty printed json"
@geoffjentry commented on [Wed Jul 05 2017](https://github.com/broadinstitute/wdl4s/issues/131)

I'm not sure why we were doing it in the first place but apparently in the Spray world we were actually pretty printing our JSON responses before sending it back to the client.

I'm also not sure if this is behavior that we should continue with, but either way it's no longer the case with the akka http

[2017-10-11 17:13] katevoss commented on #2708
@geoffjentry how much effort would this take?

[2017-10-11 17:15] katevoss opened #2709 "Typeclass-based map parsing for Requirements"
@katevoss commented on [Wed Oct 11 2017](https://github.com/broadinstitute/cromtool/issues/1)

@danbills commented on [Wed Jul 19 2017](https://github.com/broadinstitute/wdl4s/issues/143)

POC was done [here].(https://github.com/broadinstitute/wdl4s/blob/develop/cwl/src/main/scala/wdl4s/cwl/Implicits.scala#L59)

Need to clean up rest of pattern match.

---

@katevoss commented on [Wed Oct 11 2017]

[2017-10-11 17:16] katevoss opened #2710 "Test CWL parser against all CWL in the common-workflow-language v1 folder"
@danbills commented on [Fri Jul 21 2017](https://github.com/broadinstitute/wdl4s/issues/149)

make sure it works for as many cases as we can get for free

[2017-10-11 17:19] katevoss commented on #2710
@danbills I'm guessing this is still to-do?

[2017-10-11 17:20] katevoss opened #2711 "[Wom] Superset Types that accomodate both WDL and CWL"
@danbills commented on [Mon Jul 31 2017](https://github.com/broadinstitute/wdl4s/issues/154)

Currently wom is using WdlType directly.   We should create a superset of the types each supports and use that instead.

[2017-10-11 17:20] katevoss commented on #2711
@danbills is this still to-do?

[2017-10-11 17:23] katevoss commented on #2400
As a **Cromwell dev**, I want **wdltool to be released automatically**, so that **when I release Cromwell, wdltool is released and up to date**.
- Effort: @Horneth how much effort would this take?
- Risk: Small
- Business Value: @Horneth how much time/effort does it take to manually release wdltool? how much risk of human error is there?

[2017-10-11 17:24] katevoss opened #2712 "Investigate long compile times for wdl4s cwl subproject"
@mcovarr commented on [Mon Jul 31 2017](https://github.com/broadinstitute/wdl4s/issues/156)

It appears that some relatively recent changes have greatly extended compile times into multiple minutes, probably due to Circe decoding and encoding.  Investigate and see if there's anything that can be done to lessen the pain.

---

@geoffjentry commented on [Mon Jul 31 2017](https://github.com/broadinst

[2017-10-11 17:24] katevoss commented on #2712
@danbills is it still taking a long time to compile?

[2017-10-11 17:30] katevoss opened #2713 "true & false statements in command"
@ruchim commented on [Fri Aug 11 2017](https://github.com/broadinstitute/wdl4s/issues/168)

The wdl docs say that when using the true/false syntax in the command block, one can get away with declaring just one of the 2, however the WDL fails validation and fails to create a namespace and therefore never gets run.

AC:
Actually allow being able to declare True or False and statements OR Keep enforc

[2017-10-11 17:32] katevoss commented on #2713
@ruchim is this still to-do? What would the effort be (small, medium, large)?

[2017-10-11 17:32] katevoss opened #2714 "Support CWL expressions in WOM"
@mcovarr commented on [Wed Aug 16 2017](https://github.com/broadinstitute/wdl4s/issues/174)

[2017-10-11 17:33] katevoss commented on #2714
@mcovarr is this a dupe of #2524 ?

[2017-10-11 17:33] katevoss opened #2715 "Publish scaladoc for CWL library"
@danbills commented on [Thu Aug 17 2017](https://github.com/broadinstitute/wdl4s/issues/177)

Once it's available it would be nice to have scaladocs published for CWL as they are for WDL

[2017-10-11 17:34] katevoss commented on #2715
@danbills what kinds of docs are these?

[2017-10-11 17:35] katevoss opened #2716 "Better organize CommandLineTool and related classes"
@danbills commented on [Tue Aug 29 2017](https://github.com/broadinstitute/wdl4s/issues/185)

Right now `CommandLineTool` is declared in CwlFile.scala and CommandLineTool.scala has a bunch of related files.

Move these files and name files appropriately.

Consider moving everything under CommandLineTool and Workflow into their own package?

---

@curoli commented on [Tue Aug 29 2017](https://githu

[2017-10-11 17:36] katevoss commented on #2716
@danbills what still needs doing?

[2017-10-11 17:36] katevoss opened #2717 "WOM CommandPart redo"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/195)

WOM currently uses the WDL CommandPart which contains WDL specific constructs (WdlFunctions)
WOM should get its own CommandPart.
Also factor in the fact that tweaks will have to be made in the way the command is instantiated depending on the language or even language configuration (this might be better put

[2017-10-11 17:39] katevoss commented on #2717
@Horneth is this still to-do?

[2017-10-11 18:02] katevoss opened #2718 "Document CWL usage and highlight cwltool requirement in README"
@danbills commented on [Mon Oct 02 2017](https://github.com/broadinstitute/wdl4s/issues/245)

[2017-10-11 18:03] katevoss commented on #2718
@danbills what kind of docs are necessary here?

[2017-10-11 18:05] katevoss opened #2719 "Test CWL ECMAScript Functions"
@danbills commented on [Mon Oct 02 2017](https://github.com/broadinstitute/wdl4s/issues/243)

Currently we are focused on delivering ECMAScript "Expressions" which are denoted w/ `$(...)`.

ECMAScript functions, denoted by `${....}` (i.e. w/ braces instead of parens) are as of yet untested.

Creating this ticket so I can move forward with spike https://github.com/broadinstitute/cromwell/issues/263

[2017-10-11 18:07] katevoss commented on #2719
@danbills any update on this ticket?

[2017-10-11 18:25] katevoss opened #2720 "Support "complex" workflow input types in CWL"
@Horneth commented on [Thu Sep 28 2017](https://github.com/broadinstitute/wdl4s/issues/238)

Currently only primitive types are supported in workflow inputs in CWL.
`***RecordSchema` and array support should be added

[2017-10-11 18:26] helgridly commented on #2701
Yeah, this was from way back when we on FC thought we'd be parsing the WDL and doing docker-hash switcheroos ourselves. But you ended up doing it! So my use case for needing this has gone away.

[2017-10-11 18:27] katevoss commented on #2720
@Horneth is this still to-do?

[2017-10-11 18:28] #2701 closed

[2017-10-11 18:31] katevoss opened #2721 "Handle cwl.outputs.json with respect to outputBinding"
@danbills commented on [Thu Sep 28 2017](https://github.com/broadinstitute/wdl4s/issues/237)

Per the CWL Spec:

http://www.commonwl.org/v1.0/CommandLineTool.html#File

[2017-10-11 18:45] katevoss commented on #2721
@danbills this is still to-do, right?

[2017-10-11 18:46] katevoss opened #2722 "CommandPart instantiation should return Checked[String]"
@danbills commented on [Thu Sep 28 2017](https://github.com/broadinstitute/wdl4s/issues/236)

Currently returns only a string, leaving out the possibility that a Cwl Expression could fail during evaluation.

[2017-10-11 18:46] katevoss commented on #2722
@danbills still to-do, right?

[2017-10-11 18:51] katevoss opened #2723 "Shenanigans with Prefix Separator"
@danbills commented on [Thu Sep 21 2017](https://github.com/broadinstitute/wdl4s/issues/224)

Wom's Task Definition takes a prefix separator, but then callWithInputs takes its own separator!  Sort out these shenanigans and create one true prefix separator.

---

@mcovarr commented on [Thu Sep 21 2017](https://github.com/broadinstitute/wdl4s/issues/224#issuecomment-331249563)

I was kind of hoping

[2017-10-11 18:52] katevoss commented on #2723
This is still to-be-done, right?

[2017-10-11 18:54] katevoss opened #2724 "WDL->WOM: Nested expressions must be able to access outer values"
@cjllanwarne commented on [Fri Sep 15 2017](https://github.com/broadinstitute/wdl4s/issues/217)

EG this can be converted from WDL to WOM:
[code]

But if we move the `b` outside the scatter:
[code]

Then we get an error:
[code]

---

@Horneth commented on [Mon Sep 18 2017](https://github.com/broadinstitute/wdl4s/issues/217#issuecomment-330214878)

This has implications in Cromwell. Namely if `b` w

[2017-10-11 18:55] katevoss commented on #2724
@mcovarr @Horneth did you determine what the issue is here?

[2017-10-11 18:55] katevoss opened #2725 "Add ability to export CWL to YAML"
@danbills commented on [Fri Sep 15 2017](https://github.com/broadinstitute/wdl4s/issues/216)

We have existing tests (in ExportCwlSamplesSpec) that are testing output as previously implemented, yet library collisions forced us to remove that capability.

If and when [circe-yaml](https://github.com/circe/circe-yaml) updates their cats dependency we could use that.

[2017-10-11 19:00] katevoss opened #2726 "CWL Requirements, hints etc.. in WOM"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/204)

CWL has a lot of meta information that is currently not available in WOM.
This could be part of a larger work and include re-work of WDL runtime attributes but those bits need to make it to Cromwell somehow.

[2017-10-11 19:00] katevoss opened #2727 "Custom WOM Call outputs"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/203)

Wom currently automatically derives call outputs from TaskDefinition.
CWL separately declares call outputs and "run" outputs, which mean the former could be a subset of the latter. Make it so that WOM can support this use case.

[2017-10-11 19:01] katevoss opened #2728 "CWL Workflow name"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/202)

The CWL parser currently hardcode the same name for all workflows.
Find out if CWL has a way to specify a workflow name. If not use a hash ? A new endpoint parameter ?
@katevoss this could use PO input if it turns out CWL has no way to specify a workflow name

---

@danbills commented on [Tue Oct 03 2017](

[2017-10-11 19:10] katevoss opened #2729 "Make WomExpression evaluateValue method asynchronous"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/200)

This is a nice to have. `IoFunctionSet` already returns `Future`s for I/O methods. It would be nice to have the evaluate method itself be asynchronous to allow for a fully asynchronous evaluation.
Whether or not WDL evaluation should be made asynchronous too is left to implementor.

[2017-10-11 19:11] katevoss opened #2730 "Custom stdout / stderr paths"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/198)

Wom should be able to provide paths where stdout and stderr should be written (can be optional and left the engine discretion if not present)

[2017-10-11 19:12] katevoss opened #2731 "evaluateFiles method in WomExpression"
@Horneth commented on [Mon Sep 11 2017](https://github.com/broadinstitute/wdl4s/issues/196)

Add a method on WomExpression that returns the files that will be produced by a WomExpression when it's evaluated.

[2017-10-11 19:12] danbills commented on #2722
yep

[2017-10-11 19:13] danbills commented on #2721
yep

[2017-10-11 19:14] danbills commented on #2719
nope

[2017-10-11 19:14] danbills commented on #2723
yep

On Wed, Oct 11, 2017 at 2:52 PM, Kate Voss <notifications@github.com> wrote:

[2017-10-11 19:16] danbills commented on #2718
* one must install `cwltool` to test the code and/or use CWL functionality
* show people how to use CWL parsing
* give some pointers as to how to use coproducts

[2017-10-11 19:19] Horneth commented on #2717
Yep I'll close it

[2017-10-11 19:19] #2717 closed

[2017-10-11 19:20] Horneth commented on #2731
That's done

[2017-10-11 19:20] #2731 closed

[2017-10-11 19:21] katevoss opened #2732 "Support CWL and WDL expressions in WOM"
@danbills commented on [Tue Aug 01 2017](https://github.com/broadinstitute/wdl4s/issues/159)

There is no formal way to represent CWL expressions in WOM.

We seek to support the evaluation of both WDL and CWL expressions.

For reference: [CWL Expression](http://www.commonwl.org/v1.0/CommandLineTool.html#Expressions)

---

@danbills commented on [Tue Aug 01 2017](https://github.com/broadinstitute/w

[2017-10-11 19:21] katevoss commented on #2732
@danbills this was formerly an epic, does it still have any useful information?

[2017-10-11 19:22] katevoss commented on #2725
@danbills still to-do?

[2017-10-11 19:22] katevoss commented on #2726
@Horneth is this necessary for CWL support?

[2017-10-11 19:23] danbills commented on #2716
all of this

On Wed, Oct 11, 2017 at 1:36 PM, Kate Voss <notifications@github.com> wrote:

[2017-10-11 19:23] danbills commented on #2725
yep

On Wed, Oct 11, 2017 at 3:22 PM, Kate Voss <notifications@github.com> wrote:

[2017-10-11 19:26] danbills commented on #2732
It doesn't have useful information, but it is not yet complete.

[2017-10-11 19:27] danbills commented on #2715
These docs are auto-generated descriptions of our scala code.

On Wed, Oct 11, 2017 at 1:34 PM, Kate Voss <notifications@github.com> wrote:

[2017-10-11 19:32] katevoss commented on #2727
@Horneth is this still to-do?

[2017-10-11 19:32] katevoss commented on #2728
Is this still to-do?

[2017-10-11 19:33] katevoss commented on #2729
@Horneth if this is a nice-to-have then I'll take it out of the Milestone, which is our goal for Q4

[2017-10-11 19:34] katevoss commented on #2730
Is this still to-do?

[2017-10-11 19:46] Horneth commented on #2730
yep

[2017-10-11 19:49] Horneth commented on #2729
If we don't do it now we'll very very unlikely do it later and you might as well close it.

[2017-10-11 19:49] Horneth commented on #2728
yep

[2017-10-11 19:49] Horneth commented on #2727
yep

[2017-10-11 19:50] Horneth commented on #2720
yep

[2017-10-11 19:56] katevoss opened #2733 "Update Lenthall, Centaur, wdl4s readmes (and other archived repos) as Deprecated"
Lenthall and wdl4s have been folded into the main Cromwell repo so the Lenthall and wdl4s repos should be deprecated. Add a message to the Readme, make it impossible for users to make new issues/PR's, etc.

As a **user looking at the wdl4s or Lenthall repos**, I want **it to be obvious that they are deprecated, and to have useful information about where to find the artifacts within Cromwell**, so

[2017-10-11 20:04] katevoss commented on #2329
As a **user running workflows**, I want **Cromwell to split up its docker hashes by registry**, so that **if one registry is slow, that it doesn't affect the performance of the other registries**.
- Effort: Small? @horneth
- Risk: Small
- Business value: @horneth how often is this a problem?

[2017-10-11 20:05] katevoss commented on #2720
As a **user running CWL scripts**, I want **Cromwell to process complex workflow input types**, so that **I can run my workflow with complex inputs**.
@Horneth what's an example of a complex input?

[2017-10-11 20:41] katevoss commented on #2685
@ambrosejcarr when do you use an Int of that size?
Adding this to the list of things to document.

[2017-10-11 20:43] katevoss commented on #2446
Then I'll move it over to that repo

[2017-10-11 20:45] #2446 closed

[2017-10-11 20:59] ambrosejcarr commented on #2685
Thanks very much! In this case I had set one of my parameters to a very large number in order to avoid triggering file chunking (the Int represented maximum number of lines to read from a file before chunking).

I don't want this to take away from the fact that on genome-scale computing, there are lots of reasons for people to want to use a double. One example would be to indicate the length of th

[2017-10-11 21:34] danbills commented on #2711
Yes.  I believe @mcovarr is looking at this now.

On Oct 11, 2017 1:20 PM, "Kate Voss" <notifications@github.com> wrote:

[2017-10-11 21:34] danbills commented on #2710
Yep

On Oct 11, 2017 1:19 PM, "Kate Voss" <notifications@github.com> wrote:

[2017-10-11 21:35] danbills commented on #2709
Nope this is not necessary anymore

[2017-10-11 21:35] #2709 closed

[2017-10-11 21:36] danbills commented on #2706
Specific to wdl4s, so no it is not in Cromwell

On Oct 11, 2017 1:11 PM, "Kate Voss" <notifications@github.com> wrote:

[2017-10-11 21:46] geoffjentry commented on #2693
still applies and still the same.

it'd be cool to have, but realistically it'd provide no direct benefit to the Cromwell team. i still say that if it magically worked we should do it but otherwise if someone wants to do it that'd be great

[2017-10-11 23:24] Horneth commented on #2726
Yes

[2017-10-11 23:51] antonkulaga opened #2735 "call caching for directories"
It is very common to provide folders as inputs to different bioinformatic tools. For instance, STAR index is usually computed once per reference genome and then provided to each STAR-based RNA-Seq task as an input. However, when this is done a common caching failure is reported (because it is a folder):
[code]

[2017-10-12 07:58] Redmar-van-den-Berg opened #2736 "Running tasks depth first?"
From looking at the behaviour of cromwell, I think it traverses the execution graph (is that what it's called, the order in which tasks are run?) breadth-first, (e.g.  first perform trimming for all samples, then mapping for all samples, then genotyping, etc).

For most workflows, different tasks will have different performance characteristics (trimming and mapping is read/write heavy, genotyping

[2017-10-12 13:29] geoffjentry commented on #2736
In theory it shouldn't make a difference.* Cromwell isn't scheduling anything, it's merely seeing what is runnable and launching it. Thus the time delta should be miniscule. However, in the real world there are things such as quotas on the backend and that could make a difference, yes. But keep in mind that backends will themselves process job requests differently and aren't necessarily going to h

[2017-10-12 13:39] Horneth commented on #2736
Out of curiosity, did you observe a behavior that makes you think that tasks are not being run as early as they could be ?
Cromwell periodically traverses the "unstarted" nodes to determine if all their dependencies are satisfied, and if so starts the task, which should effectively run all tasks as soon as possible.

[2017-10-12 13:39] katevoss commented on #2445
Then I'll close this out as fixed! If it returns, well that's future Redteam's problem.

[2017-10-12 13:39] #2445 closed

[2017-10-12 14:10] katevoss commented on #2378
As a **user running workflows**, I want to **see my stderr output even when Cromwell gets a "FileNotFound" response** so that I can **debug my workflow**.
- Effort: @Horneth do you have an idea of how much effort this would take to fix?
- Risk: Small
- Business value: Small
   - There is a workaround, to manually look up the stderr

[2017-10-12 14:12] katevoss commented on #2036
As a **user looking at logs** I want **the logs to be color-coded**, so that **I can easily debug my workflow and get the info I'm looking for**.
- Effort: Medium
   - While the color-coding is easy, deciding what to color-code is more complicated.
- Risk: X-Small
- Business value: Medium
   - Logs are a known issue. Maybe color coding them is an easy, first step to improving them

[2017-10-12 14:13] Horneth commented on #2378
@katevoss if the issue is what I think it is then I'm not sure how to fix it so I don't know how much time it would take, we've tried to fix it a few times already and failed.
Also I wouldn't say that manually looking up stderr is a workaround if Cromwell fails the workflow for an invalid reason

[2017-10-12 14:58] katevoss commented on #2378
@geoffjentry any thoughts on how to fix this issue?

[2017-10-12 15:01] katevoss commented on #2273
@leetl1220 have you tried the latest [hot-fix Cromwell](https://github.com/broadinstitute/cromwell/commits/29_hotfix)?

[2017-10-12 15:03] geoffjentry commented on #2378
My intuition is what @Horneth said, that this is an artifact of something we've seen before. It is possible to sorta-fix-it-fix-it (e.g. write out a "i'm totally done" file at the very end and not read anything until then) but that has its own problems, including some which lead to the "sorta-" prefix there.

It's worth noting that this isn't a problem unique to Cromwell, it pops up fairly regular

[2017-10-12 15:05] katevoss commented on #2378
In that case is it a won't-fix situation? We can keep patching if necessary.

[2017-10-12 15:08] geoffjentry commented on #2378
That's the path we've been taking. At some point if this becomes a big enough headache paying the pain to try to fix it more would be worth it but for now it's not IMO

[2017-10-12 15:11] katevoss commented on #2706
Therefore it can be closed as wdl4s is in Cromwell, or it needs to be kept?

[2017-10-12 15:13] danbills opened #2737 "Cwl Expressions Support Checkpoint #3"
Implementing WorkflowStepInputExpression and updating CommandOutputExpression to use globbing correctly.

[2017-10-12 15:15] katevoss commented on #2440
As a **Cromwell dev** I want **to have uniquely named Metadata services**, so that **when there are multiple services I can specify which metadata service**.
- Effort: Small
- Risk: Would this break WDLs? APIs?
- Business value: Medium

[2017-10-12 17:15] knoblett opened #2738 "Wait until a task has run to resolve a workspace variable"
A user requested this [here](https://gatkforums.broadinstitute.org/firecloud/discussion/10272/workflow-function-sub-is-too-impatient-needs-to-wait-until-inputs-are-ready).

They would like Cromwell to wait until after a task has run to try to resolve a workflow-level variable. Their specific use case is calling the `sub()` function inside the workflow, like so:

[code]

[2017-10-12 17:20] knoblett opened #2739 "Clearer error message for improperly formatted disk strings"
A user requested this [here](https://gatkforums.broadinstitute.org/firecloud/discussion/10273/error-messages-should-include-the-problematic-input-whenever-possible-disk-strings).

This user ran into an error message which stated he had an improperly formatted disk string, but with no further information on how to find out which disk string was incorrect. It would be better if the error message spe

[2017-10-12 17:24] knoblett opened #2740 "Reword error message when failure is due to an invalid return code from the script"
A user requested this [here](https://gatkforums.broadinstitute.org/firecloud/discussion/10319/incorrect-error-message-when-task-fails-to-complete).

When a script fails to run, the error that is eventually returned is that Cromwell failed to delocalize the output file, due to the fact that the file is missing because the script failed to run. They would like the error message to be clearer as to t

[2017-10-12 19:00] danbills commented on #2706
I'm a little confused, but this is the only issue that I know of and  it needs to be kept open as it is not yet implemented.

[2017-10-12 19:09] katevoss commented on #2706
Got it, sorry for the confusion.

[2017-10-12 22:14] ambrosejcarr opened #2743 "call executionEvents contains unpredictable time strings."
[unpredictable_time_example.json.txt](https://github.com/broadinstitute/cromwell/files/1380844/unpredictable_time_example.json.txt)

In the attached metadata json file from a recent run (extension mangled with txt because github complains about json uploads) I'm seeing unpredictable datetime strings which, as a result, are difficult to parse.

1. `2017-10-04T21:47:18.661720750Z` (the norm)
2. `201

[2017-10-12 22:48] geoffjentry commented on #2418
It still exists and no one ever determined if it was appropriate, so it is still potentially relevant. It's just not how we typically handle errors that occur in API calls so it looked weird. May or may not actually be an issue.

[2017-10-12 22:49] geoffjentry commented on #2417
It is indeed still relevant in a "if we care" way. It means that workflow inputs are not necessarily entering the system won't be in a deterministic order.

That's probably AOK but the ticket is asking to make sure that that statement is true.

[2017-10-12 22:58] geoffjentry commented on #2423
https://github.com/circe/circe

it wouldn't be a huge project but it's also not a huge need. since we're using circe everywhere else now it just means we have two different ways of doing the same thing

[2017-10-13 13:13] #2690 closed

[2017-10-13 13:23] curoli commented on #2694
Closing issue as fix PR got merged.

[2017-10-13 13:23] #2694 closed

[2017-10-13 15:13] antonkulaga opened #2744 ""Unable to load namespace from workflow: For input string: \"100000000000\"""
For the following task
[code]
I get
[code]
error.

[2017-10-13 16:28] mcovarr commented on #2744
That's too big for a WDL `Int`. You might try typing it as a `String` instead.

[2017-10-13 17:39] cjllanwarne commented on #2643
Closing as not reproducible.

Let us know if you run into it again

[2017-10-13 17:39] #2643 closed

[2017-10-13 20:03] antonkulaga commented on #2744
Maybe you should use Long as internal cromwell wdl-Int representation to avoid such type of bugs?

[2017-10-14 00:00] danbills opened #2746 "CWL Support glob"

[2017-10-14 00:02] danbills opened #2747 "Support stdout being written to any file other than "stdout""
Currently our CWL `stdout` field in `CommandLineTool` works if and only if that field is set to `stdout`.  It should be assignable to any filename.

[2017-10-14 00:03] danbills opened #2748 "Support Inputs of various types"
CWL expression evaluation takes inputs and puts them into a WdlMap.

When the inputs to a CWL workflow are of different types, this operation fails with:
` Cannot construct WdlMapType(WdlStringType,WdlStringType) with mixed types:`

[2017-10-16 02:54] Horneth opened #2750 "PAPI requests don't get removed from queue when aborted"

[2017-10-16 03:26] geoffjentry commented on #2750
@Horneth just for my own mental book keeping, what led to this?

[2017-10-16 12:37] Horneth commented on #2750
More people are using the JG server to launch multiple workflows w/ jobs on the order of 10k and it's being slow to start those jobs. There's definitely something going on w/ memory still but one explanation is also that jobs are being queued and throttled in Cromwell to respect quota for submission which is good, but if we have tens of thousands of then it might take some time to start them. Jose

[2017-10-16 12:45] Horneth commented on #2747
Is this https://github.com/broadinstitute/cromwell/issues/2730 ?

[2017-10-16 18:28] meganshand opened #2753 "Can't use if statements with task outputs in subworkflows"
The following workflow and subworkflow wdls do not work in cromwell v29 hot fix (3be5b8c0537ef051dece9fbad63a154b72ad510d):

[code]

[code]

I get errors such as the following:

[code]

[2017-10-16 23:39] katevoss commented on #2088
@Horneth how about this ticket for testing aborts?

[2017-10-17 13:26] Horneth commented on #2088
:+1:

[2017-10-17 13:42] kottmast opened #2756 "Task/Call resolution in subworkflows is failing"
In certain cases, cromwell/wdltool is unable to resolve call statements in subworkflows (cromwell v29, wdltool v0.14). This may be related to #2753

A simple case to demonstrate this:

main.wdl:
[code]

sub.wdl:
[code]
Running the validate command against sub.wdl returns no error messages. Running validate against main.wdl returns:
[code]
Interestingly, if I add to sub.wdl:
[code]
and replace Stri

[2017-10-17 18:49] katevoss opened #2757 "Add link to WDL and CWL conformance tests to Cromwell documentation"
As a user, I want to see what CWL and WDL features that Cromwell supports, so that I know my workflow will pass.

[2017-10-18 12:11] gemlam3 commented on #2677
@kcibul is this ready to be closed?

[2017-10-18 14:14] Horneth commented on #2753
Thanks for the issue @meganshand, we probably won't be able to patch a fix for this in 29_hotfix but we'll definitely try to make sure it's fixed in 30 :)

[2017-10-18 14:14] Horneth commented on #2756
Thanks for the issue @kottmast, we probably won't be able to patch a fix for this in 29_hotfix but we'll definitely try to make sure it's fixed in 30 :)

[2017-10-18 14:19] meganshand commented on #2753
That's fine with me. Thank you!

[2017-10-18 18:47] cjllanwarne commented on #2728
I'm picking this up as a hopefully gentle "intro to CWL stuff" ticket

[2017-10-18 21:12] kottmast commented on #2756
Thanks @Horneth - any estimate on v30 target release date? Or, any other way you can think of to work around the issue?

[2017-10-19 14:47] jeremywzh commented on #2756
this is a critical issue of cromwell/wdltool, how did Broad avoid this issue in its internal pipeline using cromwell/wdl? this feature of WDL seems to be so commonly used in pipeline development.

[2017-10-19 15:02] geoffjentry commented on #2756
@jeremywzh To be honest the largest userbases for WDL internal to the Broad are just now starting to use subworkflows in earnest (e.g. Firecloud does not yet support them) so things haven't been as well vetted as we'd like.

@kottmast We're targeting mid-late Nov for v30

[2017-10-19 15:46] cjllanwarne commented on #2713
@katevoss I don't think this belongs under the "CWL label... I'd guess it's more "minor bug fix"

[2017-10-19 15:47] cjllanwarne commented on #2521
I agree with @mcovarr - this has happened. Future improvements to it can be new tickets

[2017-10-19 15:47] #2521 closed

[2017-10-19 16:56] #2677 closed

[2017-10-19 17:57] mcovarr opened #2763 "Be able to build a WomExecutable from WDL without inputs"
Will be required to run `womgraph` in `womtool`. See #2762.

[2017-10-19 19:24] #2728 closed

[2017-10-19 20:04] cjllanwarne opened #2764 "Honour custom stdout locations"
Eg in the step:

[code]

[2017-10-19 20:06] Horneth commented on #2764
https://github.com/broadinstitute/cromwell/issues/2730 https://github.com/broadinstitute/cromwell/issues/2747 😄

[2017-10-19 20:52] cjllanwarne commented on #2764
Closing as double duplicate.

[2017-10-19 20:52] #2764 closed

[2017-10-19 20:52] cjllanwarne commented on #2747
Closing as duplicate at #2730

[2017-10-19 20:52] #2747 closed

[2017-10-19 23:10] cowmoo commented on #1838
I want to +1 on this issue.

This is useful in a WDL as you can add logic to make the WDL easier/cleaner to read and maintain:

[2017-10-20 13:16] #2617 closed

[2017-10-20 18:06] mcovarr commented on #2679
Yup the release WDL has most definitely been broken. 🤕

[2017-10-20 18:16] Horneth commented on #2679
Good news is it should become simpler no ?

[2017-10-20 18:19] mcovarr commented on #2679
Yes definitely! 😄

[2017-10-20 18:27] geoffjentry opened #2766 "non-api endpoints should be public"
Currently the endpoints not off of `/api` (e.g. `/engine/Segment/version`) still require an authorization header. This should not be the case. These endpoints should be fully public.

[2017-10-20 18:28] geoffjentry opened #2767 "Add the engine status endpoint to caas"

[2017-10-20 18:58] LeeTL1220 opened #2768 "Default limit on file input to read_lines is too small"
Currently, this is set to default to 128000.  This is too small for most practical use, especially given that gs URLs can get quite long.  Can the new limit be much higher?  We'll need 5GB (no joke!) for some our larger analyses.  Or at least a workflow option to temporarily override?

Otherwise, we get an error such as:
```"Workflow has invalid declarations: Could not evaluate workflow declaratio

[2017-10-20 19:16] cjllanwarne opened #2769 ""sbt test" relies on a mysql database"
... and it shouldn't

[2017-10-20 19:18] cjllanwarne commented on #2768
One person's "way too small" is another's "way too big" so whatever we have is going to be inappropriate for somebody...

On the other hand, 128k does seem a little too small (at least until we have actual, real FoFN support)

[2017-10-20 19:31] Horneth commented on #2768
Hmm it doesn't seem like a good idea to load a 5GB file over network in Cromwell's memory 😄

[2017-10-20 19:34] geoffjentry commented on #2768
The limit is intentionally small. If you’ve got that much data you shouldn’t be using read lines

[2017-10-20 21:08] cjllanwarne opened #2771 "Less wasteful, more accurate 64KB file limit in CWL"
Ideal:
- Read the first 64KB of data from the file.
- There you go.

Now:
- Take the whole file (all 400GB) into memory
- Carefully select the first `64 * 1024` characters (not bytes)
- Drop the rest on the floor (but only at GC time)

[2017-10-20 21:11] geoffjentry commented on #2771
Iirc the limit in cwl was a minimum and not a maximum. We could tie this into the standard limits we have for wdl

[2017-10-20 21:23] cjllanwarne commented on #2771
It could, I sort-of don't like the idea of encouraging non-portable workflows by allowing users to make the read-length higher in config files without making that explicit in the CWL

[2017-10-20 21:35] mcovarr commented on #2679
I'll start looking at this in my spare cycles since I seem to be the one doing most of the breaking.

[2017-10-20 21:36] geoffjentry commented on #2771
THIs wouldn’t be us contributing to nonportability, the feature is inherently non portable

[2017-10-20 21:38] geoffjentry commented on #2771
Note that I don’t really care but it seems like it’d be simpler for us and it’s not being skeezy or anything, that was literally how they intended it to work

[2017-10-21 00:07] LeeTL1220 commented on #2768
@ldgauthier has the actual use case.  We've already upgraded the methods cromwell.  Is there a way to scatter over an iterator, so the whole list does not have to be read into RAM?

[2017-10-21 00:16] geoffjentry commented on #2768
@LeeTL1220 No although there have been discussions about potentially adding operators to WDL which could provide optional streaming - I wouldn't expect to see that until after WDL 1.0 but YMMV.

It seems unlikely that the limits for `read_X()` would be drastically increased. Even if we thought it'd be a good idea for Cromwell (it's not), it'd also require the same behavior for other implementers,

[2017-10-21 00:17] geoffjentry commented on #2768
Also, this is really a WDL issue and not a Cromwell issue. The Cromwell team no longer directly controls WDL.

[2017-10-21 00:30] geoffjentry commented on #2768
Deleting some comments due to being interspersed with untrue things.

@LeeTL1220

As per #1762 the intention was to have spec mandated minimums and implementation level maximums. The former never happened so technically it's not part of the spec at all. And as I noted, Cromwell team is no longer in charge of the WDL spec, so ...

That said, it's tunable. You can increase it if you want. I wouldn't

[2017-10-21 13:53] LeeTL1220 commented on #2768
If it can be specified by a workflow option, then everyone is happy.  And
we don't have to wait for 1.0.

On Oct 20, 2017 20:30, "Jeff Gentry" <notifications@github.com> wrote:

[2017-10-21 14:35] geoffjentry commented on #2768
The point of the setting is to protect the server from users. Putting the power directly in the hands of the users seems unwise

[2017-10-23 12:33] #2711 closed

[2017-10-23 13:00] gemlam3 commented on #2766
@geoffjentry can you connect this ticket to https://github.com/broadinstitute/CromIAM/pull/18 so they move together?

[2017-10-23 14:11] geoffjentry commented on #2766
@gemlam3 done

[2017-10-23 17:22] katevoss opened #2773 "Option to turn off HTTPS imports"
Proposed in the [PR for HTTPS imports](https://github.com/broadinstitute/cromwell/pull/2758) by @kcibul:

As a **user configuring Cromwell**, I want **the option to disable HTTPs imports**, so that **I can protect my system from possible security risks**.

- Effort: Small
- Risk: Small
- Business value: Medium

[2017-10-23 17:32] katevoss opened #2774 "No information from workflow to debug when Cromwell can't delocalize a missing file"
This may be a known issue, in which case feel free to link this to that. If not...

I ran a workflow on the DSDE-Methods server, which is running on P.API, and it failed when a file didn't exist. I was running a CNV pipeline to create a Panel of Normals, and a few of the bams (and their bai's) in the list did not exist.

From @LeeTL1220: Cromwell can't localize a file because the file does not exi

[2017-10-23 18:09] kcibul commented on #2773
I would love to see this folded into a general "import resolver configurability" feature.  Right now the code is a bit of spaghetti for different conditions (e.g. local imports, zip imports, http).  Would be great to have that all config driven.

Also -- I wrote the http importer in such a way that we should be able to "configure" an http importer that provides headers/credentials for certain URLs

[2017-10-24 14:09] danbills opened #2776 "Support CWL Dependencies"
CWL can embed links to other files.

These fields are packaged in a zip and submitted to cromwell.

We should unzip these files and include them in the preprocessing & parsing step.  Currently they are ignored.

[2017-10-24 15:53] dheiman commented on #1838
@katevoss we've been asking for this for nearly 2 years (see [Optional Outputs #20](https://github.com/openwdl/wdl/issues/20)) .

We currently use work-arounds involving a "null" file that we keep in an external bucket, and checking if an optional input that would result in an optional output is defined:
`opt_out_file = "${if defined(opt_in) then 'opt_out.txt' else null_file}"`

We use this work-a

[2017-10-24 18:27] danbills opened #2780 "Support input binding positions in bash script"
CWL inputs can specify a `inputBinding` which is intended to be it's position in the ultimate shell script.

[2017-10-24 18:53] #2766 closed

[2017-10-24 18:53] geoffjentry opened #2781 "Add Sam to CromIAM's status endpoint"

[2017-10-24 22:07] geoffjentry opened #2782 "Add proper support for workflow collections to CromIAM"
See [the spec doc](https://docs.google.com/document/d/1yhS6nEK_Fg3GoxATuiETVTvT_S1rwGS0adCaMpYIiEc/edit#heading=h.8nfylj8b41rm) for more details.

![bathrobe-picard-believes-r3cb4b](https://user-images.githubusercontent.com/961771/31970504-25b063de-b8e6-11e7-9f17-267de122b9a1.jpg)

[2017-10-24 22:33] cjllanwarne opened #2784 "Support executing CommandLineTool directly"

[2017-10-25 05:05] kshakir commented on #2596
All endpoints (other than`query`) verified in good working order.

[2017-10-25 05:05] #2596 closed

[2017-10-25 12:45] #2776 closed

[2017-10-25 13:24] danbills commented on #2638
I'm afraid we are not yet running 1st workflow, only 3 step.  Have a few more things to do here.

[2017-10-25 13:52] gemlam3 commented on #2638
@danbills can we move this to in-progress or is there a PR in-review that is current?

[2017-10-25 15:41] mcovarr opened #2786 "monorepo the centaur"

[2017-10-25 19:44] abaumann opened #2787 "Add workflow option to not run new job upon certain call cache errors"
For instance, someone used "docker.io/<their image>" path in their runtime block and this led to a failure to call cache since call caching doesn't support docker.io urls.

Right now, since this failed to call cache it reran the job, however this was due to user error and they assumed caching would work.  Additionally, there are cases such as when there's a failure to communicate with dockerhub th

[2017-10-25 23:47] danbills opened #2788 "Travis build fails but reports green/passing"
Figure out how it is possible that travis can not compile the build but returns 0.

Incident report:
[travis build](https://travis-ci.org/broadinstitute/cromwell/jobs/292596774)
[raw log, excerpted below](https://s3.amazonaws.com/archive.travis-ci.org/jobs/292596774/log.txt?X-Amz-Expires=30&X-Amz-Date=20171025T234339Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20171025/

[2017-10-26 00:08] mcovarr commented on #2788
I thought this was going to be a lack of `set -e` in `testSbt.sh` but that doesn't appear to be the case. 🤔

[2017-10-26 00:14] danbills commented on #2746
poorly written issue, unclear what this is referring to.

[2017-10-26 00:14] #2746 closed

[2017-10-26 00:14] mcovarr commented on #2788
AccessDenied for the raw log. I can't see anything attempting to compile CWL in the cooked log. `src/bin/travis/test.sh` is shown as running for 0.01 seconds. 😕

[2017-10-26 00:15] danbills commented on #2737
This was implemented in #2761

[2017-10-26 00:15] #2737 closed

[2017-10-26 00:22] danbills commented on #2303
We have this now.

[2017-10-26 00:22] #2303 closed

[2017-10-26 00:26] #2308 closed

[2017-10-26 14:46] #2661 closed

[2017-10-26 14:46] #2316 closed

[2017-10-26 17:13] danbills opened #2790 "Support Runtime attributes in Expression evaluation"
Values related to the runtime environment must be provided to expression evaluation.

See the spec for more detail:
http://www.commonwl.org/v1.0/CommandLineTool.html#Runtime_environment

[2017-10-26 17:56] samuelklee opened #2791 "Task failing with "the local copy message must have path set" but no other logs are output."
"failures": [{"causedBy": [{"causedBy": [],"message": "the local copy message must have path set."}],"message": "Unable to complete JES Api Request"}]

See workflow metadata at: https://cromwell-v29.dsde-methods.broadinstitute.org/api/workflows/v1/4ff9cb8a-cade-482a-8492-66ea3b7a2eaa/

[2017-10-26 19:30] vdauwera commented on #1608
Documented in https://software.broadinstitute.org/wdl/documentation/article?id=10554

[2017-10-26 20:10] geoffjentry commented on #1838
Hi @dheiman - I know you're already aware as you're on the openwdl mailing list but just wanted to point out that w/ the move to the OpenWDL governance Cromwell issues aren't the path to effect change in WDL.

I've been looking at how to transfer WDL related issues from this repo to that one but in the meantime note that the way to have changes find their way into the spec would be to discuss the

[2017-10-27 13:13] #1751 closed

[2017-10-27 16:35] Horneth opened #2794 "Run mode should default to abort all jobs on CTRL-C"

[2017-10-27 19:18] geoffjentry commented on #1838
@dheiman These are all true statements. My point was just filing an issue is no guarantee that anyone will do the work of defining the spec changes and that you have the ability to make it happen now. In effect, what I'm saying is you have *more* ability now than you did before in that one can continue to wait until someone gets around to it (which was always the case) or one can put forth the eff

[2017-10-27 19:22] kshakir opened #2796 "Confirm LOG_MODE pretty and standard are overridable via properties"
Whether using `-DLOG_MODE=pretty`, or an environment variable, one should be able to force the mode pretty or standard. When working correctly the pretty should output ansi colors, and standard won't.

[2017-10-30 13:08] #2730 closed

[2017-10-30 15:03] ruchim opened #2797 "Exception thrown for valid docker syntax"
For a WDL with a docker string value that starts with "doker.io" is considered invalid by Cromwell but it is infact valid Docker syntax.

AC: Allow for "docker.io" to be a valid service name in Cromwell

[2017-10-30 15:20] danbills opened #2798 "Support CommandLineBinding conversion to CommandPart"
CommandLineBinding has a variety of settings to determine exactly what is appended to a bash script.

These include supporting expressions, prefix, whether to separate the prefix and value, etc.

More info here:
http://www.commonwl.org/v1.0/CommandLineTool.html#CommandLineBinding

Initial work is in `CommandLineBindingCommandPart` but only supports a subset of specified behavior.

[2017-10-30 15:28] danbills opened #2799 "Support CommandInputParameter conversion to CommandPart"
CommandInputParameter allows a caller to specify a variety of options to control the way an input is interpreted.

Spec: http://www.commonwl.org/v1.0/CommandLineTool.html#CommandInputParameter

Initial work is in `InputParameterCommandPart` but only a subset of specified behavior is implemented.

[2017-10-30 15:29] Horneth commented on #2797
We talked about this with Ruchi and I guess we could be very forgiving in the way we validate those docker strings. If it ends up being an invalid docker image the job won't run anyway when we get to that point so..

[2017-10-30 15:30] Horneth commented on #2797
@ruchim oh I didn't realize you assigned yourself to this so I guess my previous comment is useless as you already knew that :p

[2017-10-30 20:21] #2780 closed

[2017-10-30 22:55] leepc12 opened #2800 "read_map() and read_tsv() does not strip CR (\r: Windows carriage return)"
I mostly work on Linux systems, but I accidentally modified a TSV file on a Windows system so line ending became \r\n and tried to read it in WDL with Cromwell and failed.

I didn't check other read_*() functions.

[2017-10-30 23:32] geoffjentry commented on #2800
Note: Might be related to #1876

[2017-10-31 13:03] mcovarr opened #2801 "Record import metadata for all imports"
We're currently only recording import metadata for files.

[2017-10-31 20:05] danbills opened #2804 "Improve error output when parsing of CWL Fails"
In `CwlCodecs.decodeCwl` , our entry point for parsing CWL, we have poor error messaging.

Currently if `Cwl` types fail to parse, the only output is a single `CNil` as it fails to parse either a `Workflow` or a `CommandLineTool` (the inhabitants of the coproduct type `Cwl`).

I think we should parse the two types manually (ie. `decode[Workflow]` and `decode[CommandLineTool]`) and think of a nice

[2017-11-02 00:10] kshakir opened #2812 "Merge remaining README.md files into /docs"
Examples that should be merged or deleted:
- backend/README.md
- centaur/README.md
- scripts/docker-compose-mysql/README.md
- womtool/README.md

[2017-11-02 12:59] #2786 closed

[2017-11-02 13:38] Horneth opened #2813 "Possible infinite retires in AsyncBackendJobExecutionActor"
In the `AsyncBackendJobExecutionActor`, the `isTransient` method is defined as `!isFatal(throwable)` which means any non fatal error will trigger infinite retries which is not great.

[2017-11-02 14:10] danbills opened #2814 "CWL glob strings not globbing"
As seen in 1st-workflow "*.class", the output is expecting "*.class" and not applying the glob correctly

[2017-11-02 15:25] Horneth opened #2815 "Add an abort test with subworkflows when they're back"

[2017-11-02 17:00] danbills opened #2816 "Intermittent failure in test StandardFileHashingActorSpec"
The test `cromwell.backend.standard.callcaching.StandardFileHashingActorSpec` has a failing test that asserts "send a timeout to the ioActor the command doesn't hash".  It intermittently fails when run, suggesting a race condition may exist

[2017-11-02 17:42] danbills opened #2817 "Provide MinimumRuntimeSettings from Config"
The CWL expression evaluation needs to know minimum settings for cpu cores, memory size, etc.

These should be specified in a config and passed in to the implementation.  Currently they are hardcoded.

[2017-11-02 18:28] #2790 closed

[2017-11-02 19:42] droazen commented on #1991
Just wanted to check in to inquire about the status of this ticket. Has it been added to any milestones yet?

Although we've packed Google's GCS library full of retries, at considerable expense of developer time and effort, there are still blips in production where something like a host name lookup will randomly fail, as @jsotobroad can attest. Since it's difficult/impossible to bake in retries fo

[2017-11-02 21:13] mcovarr opened #2818 "http imports do not work recursively"
MWDA blows up if a WDL imports a WDL by file which imports a WDL by http.

[2017-11-02 22:44] mcovarr commented on #2818
PEBKAC

[2017-11-02 22:44] #2818 closed

[2017-11-03 01:59] Horneth opened #2820 "Don't abort prematurely on workflow restart"
There's some flakiness in the abort tests right now, I believe the reason is we tend to abort too quickly when a workflow is being restarted (for example if we receive an abort message during materialization, we'll assume that it's fine to stop without going further, which is not the case if the workflow is being restarted as jobs might be running and need to be reconnected to)

[2017-11-03 02:02] geoffjentry commented on #2820
@Horneth Does this mean we should hold off before claiming we "fixed aborts"? :)

[2017-11-03 02:53] Horneth commented on #2820
Well that doesn't make it worse than it used to but yeah it's not 100% there. This shouldn't be hard to fix though.

[2017-11-03 12:41] #2801 closed

[2017-11-03 15:51] samanehsan commented on #2743
I also noticed inconsistent datetime strings when querying workflows in the `https://cromwell.mint-dev.broadinstitute.org` cromwell.

For example, the metadata returned from a request to `https://cromwell.mint-dev.broadinstitute.org/api/workflows/v2/0de7f0e7-51f9-44c5-ba39-0139d32362dc/metadata` includes a start time with no milliseconds:
[code]

[2017-11-03 17:03] geoffjentry commented on #2743
@samanehsan which version are you using? I think we've fixed that

[2017-11-03 17:52] samanehsan commented on #2743
@geoffjentry, which version has the fix? I believe the mint-dev cromwell is using version 29

[2017-11-03 18:43] geoffjentry commented on #2743
Oh disregard me. I just realized I was remembering @ambrosejcarr posting this issue in the first place

[2017-11-03 20:50] mohawkTrail opened #2823 "validity checking of File inputs"
Observed in a run from Firecloud: an input File was specified as a string "gs://....." where a stray space was carelessly inserted into the name.  Three days later (don't ask) when the workflow got to its end, a JES error was thrown on failure to localize the file.

I believe we should check for valid file names at the outset of a workflow, and that would include looking for an illegal space chara

[2017-11-03 20:58] mohawkTrail commented on #2823
OK nevermind.  Real files can have spaces, but files (with or without spaces) have to actually exist, and mine didn't.

[2017-11-03 20:59] #2823 closed

[2017-11-03 21:12] kshakir commented on #2743
With some discussion, we could maybe further canonicalize the format to make dates easier for users to read and compare. For example, we could always adjust offsets to UTC (aka `Z`), truncate milliseconds, etc.

Meanwhile, for those consuming the cromwell metadata in their programs, all of the above examples are valid [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formats. Each example contain

[2017-11-03 21:49] antonkulaga opened #2824 "allow to configure cross-origin"
It will be great to be able to configure Access-Control-Allow-Origin * for cromwell to be able to call it via AJAX

[2017-11-04 04:10] ambrosejcarr commented on #2743
@kshakir +1 for further harmonization. Thanks for the explanation about the different datetime strings. Do you happen to know why the different strings are occurring?

[2017-11-06 04:18] kshakir commented on #2590
https://github.com/broadinstitute/cromwell/pull/2821 wires an always-passing build into travis so that curious developers can follow the ongoing conformance status.

TODO:

[2017-11-06 14:43] kshakir commented on #2743
I'm guessing that the different timezones / millisecond precisions are due to where the dates are generated. Dates are imported and/or stored a number of places, including ~JES~ PAPI, MySQL, etc.

I've frequently seen millisecond format differences when the formatter truncates the zero milliseconds. In the example above there appears to be a difference between [`start`](https://github.com/broadins

[2017-11-06 15:53] noblem commented on #1838
Thanks for that additional info, Jeff.  Just so I can be clear: other than "age" and "more detail," is there an essential difference between the aims of what David linked to this thread and the aims of the OP?  The goal of the OP is to have the WDL spec change to support optional outputs, correct?  And David is essentially adding a +1 [or +10, if that's legal :) ] to this.  Regardless, we're happy

[2017-11-06 16:22] kshakir commented on #2813
FYI- Saw some infinite retries while wiring in the cwl conformance tester. One minor modification to `isFatal` made in [PR #2821](https://github.com/broadinstitute/cromwell/pull/2821/files) to keep the tester from running forever.

[2017-11-06 16:39] kshakir opened #2826 "GCR Docker-Content-Digest v2 not available for all images"
We need to re-figure out our hashing strategy for docker images, especially in GCR. In the meantime, any GCR image that does not have a `v2+json` hash available will run, but will always fail call caching.

We currently request a "v2+json" Docker-Content-Digest for all GCR images. Recently, GCR ["correctly"](https://enterprise.google.com/supportcenter/managecases#Case/0016000000MNGDy/U-13919143) r

[2017-11-06 17:30] geoffjentry commented on #1838
@noblem The primary difference is that the path forward to have the spec change is to present a PR and not to have an issue open. My point in my last reply is that someone might see it at some point and make a PR for you but there's no guarantee of that happening in a timely fashion whereas opening a PR against the spec yourself does guarantee that happening :)

FWIW I realize that the switcharoo